In [1]:
# !pip install elasticsearch

In [2]:
# log_path = "./00323-M/run2/log-1006.txt"

# # 1. Read the file line by line and save lines from 96861 onwards
# with open(log_path, 'r') as file:
#     lines = [line for idx, line in enumerate(file, start=1) if idx >= 96861]

# # 2. Reopen the file in write mode and overwrite with the saved lines
# with open(log_path, 'w') as file:
#     file.writelines(lines)

In [3]:
# can't multiply sequence by non-int of type 'str'from elasticsearch import Elasticsearch
from elasticsearch.helpers import scan
import warnings
# warnings.filterwarnings('ignore')

import pandas as pd
import matplotlib.pyplot as plt

import pandas as pd
import re
from datetime import datetime
from datetime import datetime, timedelta
from dataQuery import SendQuery

In [33]:
es_username = "xindong.x"
es_password = "Azerty123!"

# run = 3
# if run == 3:
#     id_machine = "00007"
#     startTime = "2023-08-25T18:00:00+02:00"
#     stopTime  = "2023-08-27T10:21:00+02:00"
#     log_path  = "./00007_btl/run3/log.txt"
# elif run == 4:
#     pass

# # weekend 1006-1008
# id_machine = "00323"
# startTime = "2023-10-06T06:00:00+02:00"
# stopTime  = "2023-10-09T09:30:00+02:00"
# log_path  = "./00323-M/run2/log-1006.txt"

# # weekend 1013-1016
# id_machine = "00323"
# startTime = "2023-10-13T18:15:00+02:00"
# stopTime  = "2023-10-15T18:30:00+02:00"
# log_path  = "./00323-M/run5/log.txt"


# weekend 10120-1022
id_machine = "00323"
startTime = "2023-10-20T15:45:00+02:00"
stopTime  = "2023-10-20T18:30:00+02:00"
log_path  = "./00323-M/run10/log.txt"

id_machine = "00322"
startTime = "2023-10-20T16:30:00+02:00"
stopTime  = "2023-10-20T17:00:00+02:00"
log_path  = "./00322-G/run6/log.txt"
# dead depuis 1020 1657

# weekend 10120-1022
id_machine = "00007"
startTime = "2023-10-25T14:30:00+02:00"
stopTime  = "2023-10-25T16:10:00+02:00"
log_path  = "./00007_btl_new/demo/run1/log.txt"
log_path  = "./00007_btl_new/demo/run2/log.txt"

data_session = SendQuery(es_username, es_password, id_machine, startTime, stopTime, es_index = "stream-reporting-sessions", size=1000)
data_packing = SendQuery(es_username, es_password, id_machine, startTime, stopTime, es_index = "stream-reporting-packings", size=1000)

In [34]:
data_session

,machineSerialNumber,sessionStart-1s,sessionStop,nbBottle
session_id,,,,
1,00007,2023-10-25 14:28:05.400917,2023-10-25 14:45:51.198759,123
2,00007,2023-10-25 15:03:24.840468,2023-10-25 15:05:31.524822,13
3,00007,2023-10-25 15:09:35.490933,2023-10-25 15:15:51.391732,16
4,00007,2023-10-25 15:22:47.052485,2023-10-25 15:32:08.843835,32
5,00007,2023-10-25 15:32:25.985160,2023-10-25 15:41:15.741005,49
6,00007,2023-10-25 15:46:36.015266,2023-10-25 15:52:15.869763,34
7,00007,2023-10-25 15:52:45.520391,2023-10-25 16:01:53.559428,60
8,00007,2023-10-25 16:02:05.103782,2023-10-25 16:05:40.141601,27

In [35]:
data_session.nbBottle.sum()

354

In [36]:
def AddSessionId(row):
    mask = (data_session['sessionStart-1s'] <= row['actionTime']) & (data_session['sessionStop'] >= row['actionTime'])
    session_ids = data_session.index[mask]
    return int(session_ids[0]) if len(session_ids) == 1 else None

data_packing['session_id'] = data_packing.apply(AddSessionId, axis=1)
data_packing['session_id'].fillna(-1, inplace=True)
data_packing['session_id'] = data_packing['session_id'].astype(int)

data_packing = data_packing[['machineSerialNumber', 'session_id', 'actionTime', 'isAccept', 'barCode', 'brand', 'reason']]

In [37]:
data_packing.head()

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason
packing_id,,,,,,,
1,00007,1,2023-10-25 14:30:21.826135,True,3256223100141,U,
2,00007,1,2023-10-25 14:30:25.864491,True,3254380008430,Cristaline,
3,00007,1,2023-10-25 14:30:30.892241,True,3664320011510,Quezac,
4,00007,1,2023-10-25 14:30:36.122441,True,3664320011510,Quezac,
5,00007,1,2023-10-25 14:30:43.465418,True,3256223100141,U,

In [38]:
data_packing[data_packing['reason'] == 'ExcludeList']

Empty DataFrame
Columns: [machineSerialNumber, session_id, actionTime, isAccept, barCode, brand, reason]
Index: []

In [39]:
data_packing['isAccept'].value_counts()

True     354
False      8
Name: isAccept, dtype: int64

In [40]:
print(data_packing['actionTime'].min())
print(data_packing['actionTime'].max())

2023-10-25 14:30:21.826135
2023-10-25 16:09:50.720798

In [41]:
data_packing.loc[data_packing['session_id'] == -1]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason
packing_id,,,,,,,
342,00007,-1,2023-10-25 16:05:53.406921,True,3068320110097,Badoit,
343,00007,-1,2023-10-25 16:05:56.813399,True,3068320110097,Badoit,
344,00007,-1,2023-10-25 16:06:06.413410,True,7613035866386,Contrex,
345,00007,-1,2023-10-25 16:06:15.783100,True,3068320110097,Badoit,
346,00007,-1,2023-10-25 16:06:20.617281,True,3068320110097,Badoit,
347,00007,-1,2023-10-25 16:06:23.512725,True,3068320110097,Badoit,
348,00007,-1,2023-10-25 16:06:30.027766,False,3068320110097,Badoit,Refus AC
349,00007,-1,2023-10-25 16:06:56.467880,False,5038862166508,Innocent,Refus AC
350,00007,-1,2023-10-25 16:07:25.520125,False,7613035866386,Contrex,Refus AC
351,00007,-1,2023-10-25 16:07:40.410569,False,5038862166508,Innocent,Refus AC
352,00007,-1,2023-10-25 16:08:13.480704,True,7613035866386,Contrex,
353,00007,-1,2023-10-25 16:08:19.835623,True,7613035866386,Contrex,
354,00007,-1,2023-10-25 16:08:23.648646,True,7613035866386,Contrex,
355,00007,-1,2023-10-25 16:08:28.376352,True,7613035866386,Contrex,
356,00007,-1,2023-10-25 16:08:34.299484,False,3068320110097,Badoit,Refus blocage
357,00007,-1,2023-10-25 16:08:57.429596,False,7613035866386,Contrex,Refus blocage
358,00007,-1,2023-10-25 16:09:18.893697,True,7613035866386,Contrex,
359,00007,-1,2023-10-25 16:09:24.729911,True,7613035866386,Contrex,
360,00007,-1,2023-10-25 16:09:36.631582,True,7613035866386,Contrex,
361,00007,-1,2023-10-25 16:09:44.114012,True,7613035866386,Contrex,
362,00007,-1,2023-10-25 16:09:50.720798,True,7613035866386,Contrex,

In [42]:
data_packing.groupby(by = ["session_id"])["isAccept"].sum()

session_id
-1     15
 1    105
 2     13
 3     17
 4     33
 5     50
 6     34
 7     60
 8     27
Name: isAccept, dtype: int64

#### Import log file

In [43]:
with open(log_path, 'r') as file:
    log_data = file.read()
    
in_matches  = re.findall(r'(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\,\d{3}).*?count numbers in  (\d+)', log_data)
out_matches = re.findall(r'(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\,\d{3}).*?count numbers out (\d+)', log_data)

data_ia_dict = {}
for match in in_matches:
    timestamp = datetime.strptime(match[0], '%Y-%m-%d %H:%M:%S,%f')
    if timestamp <= data_packing['actionTime'].max() and data_packing['actionTime'].min() <= timestamp:
        data_ia_dict[timestamp] = True

for match in out_matches:
    timestamp = datetime.strptime(match[0], '%Y-%m-%d %H:%M:%S,%f')
    if timestamp <= data_packing['actionTime'].max() and data_packing['actionTime'].min() <= timestamp:
        data_ia_dict[timestamp] = False

In [44]:
data_ia = pd.DataFrame(list(data_ia_dict.items()), columns=['passlineTime', 'isIn_Out'])
data_ia = data_ia.sort_values(by='passlineTime', ascending=True)
data_ia.reset_index(drop=True, inplace=True)
data_ia.index += 1
data_ia.index.name = 'count_id'

data_ia.head(5)

                    passlineTime  isIn_Out
count_id
1        2023-10-25 14:30:25.458      True
2        2023-10-25 14:30:30.481      True
3        2023-10-25 14:30:35.708      True
4        2023-10-25 14:30:43.072      True
5        2023-10-25 14:30:48.585      True

In [45]:
len(data_ia), len(data_ia[data_ia['isIn_Out']==True]) - len(data_ia[data_ia['isIn_Out']==False])

(329, 323)

#### Merge according to actionTime

In [46]:
# df = pd.merge_asof( data_packing.sort_values("actionTime"), 
#                     data_ia.sort_values("actionTime"), 
#                     on="actionTime", 
#                     tolerance=pd.Timedelta("2s"),
#                     direction="nearest")
# df.head(40)

In [76]:
def between2Packing(start, stop, data_dict):
    count_id_list = [count for time, count in data_dict.items() if start <= time <= stop]
    if len(count_id_list) == 0:
        return 0
    else:
        return len(count_id_list)

def between2Packing_addtime(start, stop, in_dict, out_dict):
    inline  = [time for time, count in in_dict.items()  if start <= time <= stop]
    outline = [time for time, count in out_dict.items() if start <= time <= stop]
    
    if len(inline) == 0:
        if len(outline) == 0:
            return 0
        return outline[0]
    else:
        return inline[0]

In [77]:
with open(log_path, 'r') as file:
    log_data = file.read()
    
in_matches  = re.findall(r'(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\,\d{3}).*?count numbers in  (\d+)', log_data)
out_matches = re.findall(r'(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\,\d{3}).*?count numbers out (\d+)', log_data)

in_dict  = {datetime.strptime(match[0], '%Y-%m-%d %H:%M:%S,%f'): int(match[1]) for match in in_matches}
out_dict = {datetime.strptime(match[0], '%Y-%m-%d %H:%M:%S,%f'): int(match[1]) for match in out_matches}

In [78]:
# in_dict  = {datetime.strptime(match[0], '%Y-%m-%d %H:%M:%S,%f') + timedelta(seconds=1): int(match[1]) for match in in_matches}
# out_dict = {datetime.strptime(match[0], '%Y-%m-%d %H:%M:%S,%f') + timedelta(seconds=1): int(match[1]) for match in out_matches}

In [82]:
df = data_packing.copy()
# df = df[df['isAccept'] == True]
df = df[['session_id', 'actionTime', 'isAccept', 'barCode', 'brand', 'reason']]
df['actionTime'] = df['actionTime'] - pd.Timedelta(seconds=1)

# df['actionTime'] = df['actionTime'] + pd.Timedelta(seconds=1)
# df['last_actionTime'] = df['actionTime'].shift(1)
# df.at[df.index[0], 'last_actionTime'] = "1999-10-11 00:00:00.000"
# df['last_actionTime'] = pd.to_datetime(df['last_actionTime'], format='%Y-%m-%d %H:%M:%S.%f')

df['next_actionTime'] = df['actionTime'].shift(-1)
df.at[df.index[-1], 'next_actionTime'] = df.at[df.index[-1], 'actionTime'] + timedelta(seconds=3)
df['next_actionTime'] = pd.to_datetime(df['next_actionTime'], format='%Y-%m-%d %H:%M:%S.%f')

df['passlineTime'] = df.apply(lambda row: between2Packing_addtime(row['actionTime'], row['next_actionTime'], in_dict, out_dict),  axis=1)
df['nb_in']  = df.apply(lambda row: between2Packing(row['actionTime'], row['next_actionTime'], in_dict),  axis=1)
df['nb_out'] = df.apply(lambda row: between2Packing(row['actionTime'], row['next_actionTime'], out_dict), axis=1)
df['isAcceptIA'] = df['nb_in'] - df['nb_out']
df.drop(columns=['next_actionTime'], inplace=True)

df['count_in']  = df['nb_in'].cumsum()
df['count_out'] = df['nb_out'].cumsum()

In [83]:
df[(df['session_id'] >= 1) & (df['session_id'] <= 1)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
1,1,2023-10-25 14:30:20.826135,True,3256223100141,U,,2023-10-25 14:30:21.505000,1,0,1,1,0
2,1,2023-10-25 14:30:24.864491,True,3254380008430,Cristaline,,2023-10-25 14:30:25.458000,1,0,1,2,0
3,1,2023-10-25 14:30:29.892241,True,3664320011510,Quezac,,2023-10-25 14:30:30.481000,1,0,1,3,0
4,1,2023-10-25 14:30:35.122441,True,3664320011510,Quezac,,2023-10-25 14:30:35.708000,1,0,1,4,0
5,1,2023-10-25 14:30:42.465418,True,3256223100141,U,,2023-10-25 14:30:43.072000,1,0,1,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...
101,1,2023-10-25 14:45:16.436269,True,3256223100141,U,,2023-10-25 14:45:16.977000,1,0,1,97,1
102,1,2023-10-25 14:45:20.673822,True,3256223010563,U,,2023-10-25 14:45:21.337000,1,0,1,98,1
103,1,2023-10-25 14:45:25.089853,True,3256223100141,U,,2023-10-25 14:45:25.701000,1,0,1,99,1
104,1,2023-10-25 14:45:31.727352,True,3256223100141,U,,2023-10-25 14:45:32.368000,1,0,1,100,1
105,1,2023-10-25 14:45:40.164950,True,3256223010563,U,,2023-10-25 14:45:40.727000,1,0,1,101,1

In [84]:
df[(df['session_id'] == 2)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
106,2,2023-10-25 15:03:24.813193,True,3057640257773,Volvic,,2023-10-25 15:03:25.467000,1,0,1,102,1
107,2,2023-10-25 15:03:31.850200,True,3057640257773,Volvic,,2023-10-25 15:03:32.518000,1,0,1,103,1
108,2,2023-10-25 15:03:41.511452,True,3057640257773,Volvic,,2023-10-25 15:03:42.103000,1,0,1,104,1
109,2,2023-10-25 15:03:48.543609,True,3057640257773,Volvic,,2023-10-25 15:03:49.159000,1,0,1,105,1
110,2,2023-10-25 15:03:57.320232,True,3168930170549,Lipton,,2023-10-25 15:03:57.993000,1,0,1,106,1
111,2,2023-10-25 15:04:03.822178,True,3057640257773,Volvic,,2023-10-25 15:04:04.463000,1,0,1,107,1
112,2,2023-10-25 15:04:11.764667,True,3057640257773,Volvic,,2023-10-25 15:04:12.386000,1,0,1,108,1
113,2,2023-10-25 15:04:26.079958,True,3057640257773,Volvic,,2023-10-25 15:04:26.687000,1,0,1,109,1
114,2,2023-10-25 15:04:35.906370,True,3057640257773,Volvic,,2023-10-25 15:04:36.502000,1,0,1,110,1
115,2,2023-10-25 15:04:46.395733,True,3168930170549,Lipton,,2023-10-25 15:04:47.014000,1,0,1,111,1
116,2,2023-10-25 15:04:59.150867,True,096619381784,Kirkland,,2023-10-25 15:04:59.875000,1,0,1,112,1
117,2,2023-10-25 15:05:13.922483,True,3268840001008,Cristaline,,2023-10-25 15:05:14.581000,1,0,1,113,1
118,2,2023-10-25 15:05:20.057407,True,3048431001910,Vittel,,2023-10-25 15:05:20.576000,1,0,1,114,1

In [85]:
df[(df['session_id'] == 3)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
119,3,2023-10-25 15:09:35.463482,True,7613036249928,Vittel,,2023-10-25 15:09:36.187000,1,0,1,115,1
120,3,2023-10-25 15:10:38.813530,True,7613036249928,Vittel,,2023-10-25 15:10:39.505000,1,0,1,116,1
121,3,2023-10-25 15:11:03.951214,True,7613036249928,Vittel,,2023-10-25 15:11:04.566000,1,0,1,117,1
122,3,2023-10-25 15:11:32.320853,True,7613036249928,Vittel,,0,0,0,0,117,1
123,3,2023-10-25 15:11:40.943718,True,7613036249928,Vittel,,2023-10-25 15:11:41.514000,1,0,1,118,1
124,3,2023-10-25 15:11:48.972158,True,7613036249928,Vittel,,2023-10-25 15:11:49.640000,1,0,1,119,1
125,3,2023-10-25 15:11:56.130595,True,7613036249928,Vittel,,2023-10-25 15:11:56.710000,1,0,1,120,1
126,3,2023-10-25 15:12:06.298974,True,7613036249928,Vittel,,2023-10-25 15:12:06.958000,1,0,1,121,1
127,3,2023-10-25 15:12:12.854725,True,7613036249928,Vittel,,2023-10-25 15:12:13.532000,1,0,1,122,1
128,3,2023-10-25 15:12:22.395126,True,8024884117809,Courmayeur,,2023-10-25 15:12:23.063000,1,0,1,123,1
129,3,2023-10-25 15:13:12.940120,True,7613036249928,Vittel,,0,0,0,0,123,1
130,3,2023-10-25 15:13:23.499802,True,7613036249928,Vittel,,2023-10-25 15:13:24.071000,1,0,1,124,1
131,3,2023-10-25 15:13:30.446233,True,7613036249928,Vittel,,2023-10-25 15:13:31.078000,1,0,1,125,1
132,3,2023-10-25 15:13:50.988759,True,8024884117809,Courmayeur,,2023-10-25 15:13:51.644000,1,0,1,126,1
133,3,2023-10-25 15:14:00.542957,True,8024884117809,Courmayeur,,2023-10-25 15:14:01.117000,1,0,1,127,1
134,3,2023-10-25 15:14:07.984959,True,8024884117809,Courmayeur,,2023-10-25 15:14:08.527000,1,0,1,128,1
135,3,2023-10-25 15:14:14.809560,False,8024884117809,Courmayeur,Refus blocage,2023-10-25 15:14:15.454000,1,0,1,129,1
136,3,2023-10-25 15:14:51.508510,True,3560071484453,Carrefour,,2023-10-25 15:14:52.075000,1,0,1,130,1

In [86]:
df[(df['session_id'] == 4)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
137,4,2023-10-25 15:22:47.005590,True,3274080005003,Cristaline,,2023-10-25 15:22:47.449000,1,0,1,131,1
138,4,2023-10-25 15:23:15.093379,True,3256223510315,U,,2023-10-25 15:23:15.673000,1,0,1,132,1
139,4,2023-10-25 15:23:27.131309,True,3274080005003,Cristaline,,2023-10-25 15:23:27.734000,1,0,1,133,1
140,4,2023-10-25 15:23:39.394504,True,3274080005003,Cristaline,,2023-10-25 15:23:39.948000,1,0,1,134,1
141,4,2023-10-25 15:23:49.851483,True,4056489005599,Freeway,,2023-10-25 15:23:50.443000,1,0,1,135,1
142,4,2023-10-25 15:24:10.976895,True,3274080005003,Cristaline,,2023-10-25 15:24:11.594000,1,0,1,136,1
143,4,2023-10-25 15:24:27.243963,True,3274080005003,Cristaline,,2023-10-25 15:24:27.930000,1,0,1,137,1
144,4,2023-10-25 15:24:38.793663,True,3274080005003,Cristaline,,2023-10-25 15:24:39.505000,1,0,1,138,1
145,4,2023-10-25 15:24:49.172143,True,3186630002366,Loic Raison,,2023-10-25 15:24:49.828000,1,0,1,139,1
146,4,2023-10-25 15:25:23.878247,True,8024884117809,Courmayeur,,2023-10-25 15:25:24.534000,1,0,1,140,1
147,4,2023-10-25 15:25:43.240984,True,8024884117809,Courmayeur,,2023-10-25 15:25:43.885000,1,0,1,141,1
148,4,2023-10-25 15:25:53.198090,True,3560071484453,Carrefour,,2023-10-25 15:25:53.854000,1,0,1,142,1
149,4,2023-10-25 15:26:14.617639,True,20656935,Saguaro,,2023-10-25 15:26:15.174000,1,0,1,143,1
150,4,2023-10-25 15:26:28.380506,True,4056489236931,Solevita,,2023-10-25 15:26:29.040000,1,0,1,144,1
151,4,2023-10-25 15:26:53.011698,True,3274080005003,Cristaline,,2023-10-25 15:26:53.658000,1,0,1,145,1
152,4,2023-10-25 15:27:11.424151,True,3274080005003,Cristaline,,2023-10-25 15:27:12.130000,1,0,1,146,1
153,4,2023-10-25 15:27:41.082701,True,3274080005003,Cristaline,,2023-10-25 15:27:41.840000,2,0,2,148,1
154,4,2023-10-25 15:27:55.861972,True,3274080005003,Cristaline,,0,0,0,0,148,1
155,4,2023-10-25 15:28:12.367294,True,3274080005003,Cristaline,,0,0,0,0,148,1
156,4,2023-10-25 15:28:25.737224,True,3274080005003,Cristaline,,2023-10-25 15:28:26.452000,1,0,1,149,1
157,4,2023-10-25 15:28:44.919386,True,3274080005003,Cristaline,,2023-10-25 15:28:45.594000,1,0,1,150,1
158,4,2023-10-25 15:29:04.659659,True,3274080005003,Cristaline,,2023-10-25 15:29:05.212000,1,0,1,151,1
159,4,2023-10-25 15:29:16.181750,True,3274080005003,Cristaline,,2023-10-25 15:29:16.835000,1,0,1,152,1
160,4,2023-10-25 15:29:34.089378,False,3274080005003,Cristaline,Refus AC,2023-10-25 15:29:34.200000,1,1,0,153,2
161,4,2023-10-25 15:29:42.462807,True,3274080005003,Cristaline,,0,0,0,0,153,2
162,4,2023-10-25 15:29:55.043839,True,3274080005003,Cristaline,,2023-10-25 15:29:55.702000,1,0,1,154,2
163,4,2023-10-25 15:30:07.910092,True,7613036249928,Vittel,,2023-10-25 15:30:08.557000,1,0,1,155,2
164,4,2023-10-25 15:30:21.556315,True,7613036249928,Vittel,,2023-10-25 15:30:22.176000,1,0,1,156,2
165,4,2023-10-25 15:30:34.627501,True,7613036249928,Vittel,,2023-10-25 15:30:35.265000,1,0,1,157,2
166,4,2023-10-25 15:30:53.429905,True,20656935,Saguaro,,2023-10-25 15:30:54.058000,1,0,1,158,2
167,4,2023-10-25 15:31:10.857945,True,3274080005003,Cristaline,,2023-10-25 15:31:11.543000,1,0,1,159,2
168,4,2023-10-25 15:31:23.895083,True,3274080005003,Cristaline,,2023-10-25 15:31:24.480000,1,0,1,160,2
169,4,2023-10-25 15:31:38.572275,True,3274080005003,Cristaline,,2023-10-25 15:31:39.228000,1,0,1,161,2
170,4,2023-10-25 15:31:52.492506,True,3274080005003,Cristaline,,2023-10-25 15:31:53.041000,1,0,1,162,2

In [87]:
df[(df['session_id'] == 5)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
171,5,2023-10-25 15:32:25.955540,True,7613035833302,Perrier,,2023-10-25 15:32:26.425000,1,0,1,163,2
172,5,2023-10-25 15:32:32.805290,True,7613035833302,Perrier,,2023-10-25 15:32:33.416000,2,0,2,165,2
173,5,2023-10-25 15:32:46.117685,True,3564700371107,Leclerc,,0,0,0,0,165,2
174,5,2023-10-25 15:32:51.550773,True,3564700371107,Leclerc,,2023-10-25 15:32:51.936000,1,0,1,166,2
175,5,2023-10-25 15:32:57.068869,True,3274080005003,Cristaline,,2023-10-25 15:32:57.648000,1,0,1,167,2
176,5,2023-10-25 15:32:59.885816,True,3564700371107,Leclerc,,2023-10-25 15:33:00.562000,1,0,1,168,2
177,5,2023-10-25 15:33:04.571341,True,40882505,Saguaro,,2023-10-25 15:33:05.135000,1,0,1,169,2
178,5,2023-10-25 15:33:08.518064,True,40882505,Saguaro,,2023-10-25 15:33:09.092000,1,0,1,170,2
179,5,2023-10-25 15:33:11.536244,True,40882505,Saguaro,,2023-10-25 15:33:12.246000,1,0,1,171,2
180,5,2023-10-25 15:33:16.161240,True,3564700371107,Leclerc,,2023-10-25 15:33:16.739000,1,0,1,172,2
181,5,2023-10-25 15:33:52.643340,True,3564700371107,Leclerc,,2023-10-25 15:33:53.207000,1,0,1,173,2
182,5,2023-10-25 15:33:59.198577,True,3564700371107,Leclerc,,2023-10-25 15:33:59.894000,1,0,1,174,2
183,5,2023-10-25 15:34:08.620079,True,3268840001008,Cristaline,,2023-10-25 15:34:09.314000,1,0,1,175,2
184,5,2023-10-25 15:34:14.858054,True,3564700371107,Leclerc,,2023-10-25 15:34:15.533000,1,0,1,176,2
185,5,2023-10-25 15:34:18.182613,True,3254381016922,Cristaline,,2023-10-25 15:34:18.764000,1,0,1,177,2
186,5,2023-10-25 15:34:35.860480,True,3254381016922,Cristaline,,2023-10-25 15:34:36.434000,1,0,1,178,2
187,5,2023-10-25 15:34:41.203084,True,8002270014901,San Pellegrino,,0,0,0,0,178,2
188,5,2023-10-25 15:34:45.917525,True,8002270014901,San Pellegrino,,2023-10-25 15:34:46.458000,1,0,1,179,2
189,5,2023-10-25 15:34:49.733675,True,3564700371107,Leclerc,,2023-10-25 15:34:50.323000,1,0,1,180,2
190,5,2023-10-25 15:34:55.371152,True,3564700371107,Leclerc,,2023-10-25 15:34:56.006000,1,0,1,181,2
191,5,2023-10-25 15:34:59.899465,True,3274080005003,Cristaline,,2023-10-25 15:35:00.544000,1,0,1,182,2
192,5,2023-10-25 15:35:11.985155,True,4056489194446,Saguaro,,2023-10-25 15:35:12.614000,1,0,1,183,2
193,5,2023-10-25 15:35:16.091334,True,3268840001008,Cristaline,,2023-10-25 15:35:16.729000,1,0,1,184,2
194,5,2023-10-25 15:35:28.337207,True,26003146,Rocheval,,2023-10-25 15:35:29.004000,1,0,1,185,2
195,5,2023-10-25 15:35:31.863970,True,8722700009276,Lipton,,2023-10-25 15:35:32.528000,1,0,1,186,2
196,5,2023-10-25 15:35:41.434408,True,3564700371107,Leclerc,,2023-10-25 15:35:42.076000,1,0,1,187,2
197,5,2023-10-25 15:35:50.374523,True,3564700371107,Leclerc,,2023-10-25 15:35:50.977000,1,0,1,188,2
198,5,2023-10-25 15:36:00.741624,True,3564700371107,Leclerc,,0,0,0,0,188,2
199,5,2023-10-25 15:36:03.357472,True,3274080005003,Cristaline,,2023-10-25 15:36:03.994000,1,0,1,189,2
200,5,2023-10-25 15:36:09.310739,True,3250390050124,Fiee Des Lois,,2023-10-25 15:36:09.879000,1,0,1,190,2
201,5,2023-10-25 15:36:22.471126,True,3274080005003,Cristaline,,2023-10-25 15:36:23.211000,1,0,1,191,2
202,5,2023-10-25 15:36:41.596949,True,3274080005003,Cristaline,,2023-10-25 15:36:42.379000,1,0,1,192,2
203,5,2023-10-25 15:36:45.596574,True,3564700371107,Leclerc,,2023-10-25 15:36:46.149000,1,0,1,193,2
204,5,2023-10-25 15:36:49.115987,True,3268840001008,Cristaline,,2023-10-25 15:36:49.796000,1,0,1,194,2
205,5,2023-10-25 15:37:01.809726,True,7613035284777,Perrier,,2023-10-25 15:37:02.470000,1,0,1,195,2
206,5,2023-10-25 15:37:12.683839,True,3564700371107,Leclerc,,2023-10-25 15:37:13.300000,1,0,1,196,2
207,5,2023-10-25 15:37:18.004864,True,3564700371107,Leclerc,,2023-10-25 15:37:18.599000,1,0,1,197,2
208,5,2023-10-25 15:37:38.895604,True,8002270014901,San Pellegrino,,2023-10-25 15:37:39.447000,1,0,1,198,2
209,5,2023-10-25 15:37:55.067982,True,3068320118420,Badoit,,2023-10-25 15:37:55.721000,1,0,1,199,2
210,5,2023-10-25 15:38:04.209925,True,3068320118420,Badoit,,2023-10-25 15:38:04.751000,1,0,1,200,2
211,5,2023-10-25 15:38:18.318327,True,7613035866386,Contrex,,2023-10-25 15:38:18.913000,1,0,1,201,2
212,5,2023-10-25 15:38:25.128936,True,7613035866386,Contrex,,2023-10-25 15:38:25.815000,1,0,1,202,2
213,5,2023-10-25 15:38:36.900032,True,3068320124827,Evian,,2023-10-25 15:38:37.541000,1,0,1,203,2
214,5,2023-10-25 15:38:42.956864,True,3256223510315,U,,2023-10-25 15:38:43.450000,1,0,1,204,2
215,5,2023-10-25 15:39:01.130241,True,8002270014901,San Pellegrino,,2023-10-25 15:39:01.596000,1,0,1,205,2
216,5,2023-10-25 15:39:09.288734,True,3250392927875,Native,,2023-10-25 15:39:09.955000,1,0,1,206,2
217,5,2023-10-25 15:39:18.599763,True,40882505,Saguaro,,2023-10-25 15:39:19.249000,1,0,1,207,2
218,5,2023-10-25 15:39:25.541258,True,7613036249928,Vittel,,2023-10-25 15:39:26.240000,1,0,1,208,2
219,5,2023-10-25 15:39:44.268178,True,7613035833302,Perrier,,2023-10-25 15:39:44.876000,1,0,1,209,2
220,5,2023-10-25 15:40:22.081032,True,7613036249928,Vittel,,2023-10-25 15:40:22.706000,2,1,1,211,3

In [88]:
df[(df['session_id'] == 6)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
221,6,2023-10-25 15:46:35.975897,True,7613036249928,Vittel,,2023-10-25 15:46:36.613000,1,0,1,212,3
222,6,2023-10-25 15:46:51.732197,True,3564700371107,Leclerc,,2023-10-25 15:46:52.357000,1,0,1,213,3
223,6,2023-10-25 15:47:02.187597,True,3564700371107,Leclerc,,2023-10-25 15:47:02.852000,1,0,1,214,3
224,6,2023-10-25 15:47:07.426902,True,3564700371107,Leclerc,,2023-10-25 15:47:08.032000,1,0,1,215,3
225,6,2023-10-25 15:47:12.555339,True,7613035833302,Perrier,,2023-10-25 15:47:13.210000,1,0,1,216,3
226,6,2023-10-25 15:47:21.290697,True,40882505,Saguaro,,2023-10-25 15:47:21.774000,1,0,1,217,3
227,6,2023-10-25 15:47:26.005013,True,7613036249928,Vittel,,2023-10-25 15:47:26.700000,1,0,1,218,3
228,6,2023-10-25 15:47:30.540292,True,4056489194446,Saguaro,,2023-10-25 15:47:31.153000,1,0,1,219,3
229,6,2023-10-25 15:47:37.943217,True,3564700371107,Leclerc,,2023-10-25 15:47:38.462000,1,0,1,220,3
230,6,2023-10-25 15:47:46.471838,True,3564700463949,Marque Repere,,2023-10-25 15:47:47.116000,1,0,1,221,3
231,6,2023-10-25 15:48:04.095051,True,3268840001008,Cristaline,,2023-10-25 15:48:04.767000,1,0,1,222,3
232,6,2023-10-25 15:48:17.732912,True,3564700371107,Leclerc,,2023-10-25 15:48:18.430000,1,0,1,223,3
233,6,2023-10-25 15:48:23.256418,True,4060800009449,Pepsi,,2023-10-25 15:48:23.890000,1,0,1,224,3
234,6,2023-10-25 15:48:27.569917,True,40882505,Saguaro,,2023-10-25 15:48:28.236000,1,0,1,225,3
235,6,2023-10-25 15:48:46.200106,True,3564700371107,Leclerc,,2023-10-25 15:48:46.733000,1,0,1,226,3
236,6,2023-10-25 15:48:59.756830,True,7613035833302,Perrier,,2023-10-25 15:49:00.337000,1,0,1,227,3
237,6,2023-10-25 15:49:10.530327,True,3564700371107,Leclerc,,2023-10-25 15:49:11.134000,1,0,1,228,3
238,6,2023-10-25 15:49:16.538736,True,40882505,Saguaro,,0,0,0,0,228,3
239,6,2023-10-25 15:49:23.162001,True,40882505,Saguaro,,2023-10-25 15:49:23.778000,1,0,1,229,3
240,6,2023-10-25 15:49:34.212747,True,40882505,Saguaro,,2023-10-25 15:49:34.833000,1,0,1,230,3
241,6,2023-10-25 15:49:40.264311,True,7613036249928,Vittel,,2023-10-25 15:49:40.961000,1,0,1,231,3
242,6,2023-10-25 15:49:45.203232,True,3256221106411,U,,2023-10-25 15:49:45.918000,1,0,1,232,3
243,6,2023-10-25 15:49:50.030825,True,3268840001008,Cristaline,,2023-10-25 15:49:50.667000,1,0,1,233,3
244,6,2023-10-25 15:49:56.046442,True,7613036249928,Vittel,,2023-10-25 15:49:56.697000,1,0,1,234,3
245,6,2023-10-25 15:50:12.364753,True,3564700463949,Marque Repere,,2023-10-25 15:50:13.059000,1,0,1,235,3
246,6,2023-10-25 15:50:16.327815,True,3564700463949,Marque Repere,,0,0,0,0,235,3
247,6,2023-10-25 15:50:24.391999,True,3564700463949,Marque Repere,,2023-10-25 15:50:25.061000,1,0,1,236,3
248,6,2023-10-25 15:50:45.275741,True,3564700371107,Leclerc,,2023-10-25 15:50:45.935000,1,0,1,237,3
249,6,2023-10-25 15:50:50.918514,True,3179730115821,Contrex,,2023-10-25 15:50:51.460000,1,0,1,238,3
250,6,2023-10-25 15:50:58.159325,True,3564700463949,Marque Repere,,2023-10-25 15:50:58.742000,1,0,1,239,3
251,6,2023-10-25 15:51:15.625742,True,7613035866386,Contrex,,2023-10-25 15:51:16.328000,1,0,1,240,3
252,6,2023-10-25 15:51:22.453688,True,7613035833302,Perrier,,2023-10-25 15:51:23.006000,1,0,1,241,3
253,6,2023-10-25 15:51:27.158320,True,7613035833302,Perrier,,2023-10-25 15:51:27.769000,1,0,1,242,3
254,6,2023-10-25 15:51:41.372680,True,3268840001008,Cristaline,,2023-10-25 15:51:41.967000,1,0,1,243,3

In [89]:
df[(df['session_id'] == 7)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
255,7,2023-10-25 15:52:45.489431,True,3256223510315,U,,2023-10-25 15:52:46.134000,1,0,1,244,3
256,7,2023-10-25 15:52:50.203035,True,3256224059066,U,,2023-10-25 15:52:50.838000,1,0,1,245,3
257,7,2023-10-25 15:52:57.114320,True,3186630002366,Loic Raison,,2023-10-25 15:52:57.633000,1,0,1,246,3
258,7,2023-10-25 15:53:08.659517,True,3186630002366,Loic Raison,,0,0,0,0,246,3
259,7,2023-10-25 15:53:22.830727,True,3186630002366,Loic Raison,,2023-10-25 15:53:23.504000,1,0,1,247,3
260,7,2023-10-25 15:53:27.634240,True,3186630002366,Loic Raison,,2023-10-25 15:53:28.372000,1,0,1,248,3
261,7,2023-10-25 15:53:51.571169,True,3186630002366,Loic Raison,,2023-10-25 15:53:52.160000,1,0,1,249,3
262,7,2023-10-25 15:53:58.124276,True,3256223510315,U,,2023-10-25 15:53:58.776000,1,0,1,250,3
263,7,2023-10-25 15:54:05.502587,True,3256223510315,U,,2023-10-25 15:54:06.168000,1,0,1,251,3
264,7,2023-10-25 15:54:13.881727,True,3256223510315,U,,2023-10-25 15:54:14.531000,1,0,1,252,3
265,7,2023-10-25 15:54:25.026553,True,3564700371107,Leclerc,,2023-10-25 15:54:25.766000,1,0,1,253,3
266,7,2023-10-25 15:54:30.153607,True,3256223510315,U,,2023-10-25 15:54:30.787000,1,0,1,254,3
267,7,2023-10-25 15:54:36.797397,True,3186630002366,Loic Raison,,2023-10-25 15:54:37.482000,1,0,1,255,3
268,7,2023-10-25 15:54:46.739061,True,3186630002366,Loic Raison,,2023-10-25 15:54:47.324000,2,0,2,257,3
269,7,2023-10-25 15:55:04.333347,True,7613035833272,Perrier,,0,0,0,0,257,3
270,7,2023-10-25 15:55:08.497480,True,2006050132621,Fruima,,2023-10-25 15:55:09.131000,1,0,1,258,3
271,7,2023-10-25 15:55:15.735441,True,3256223100141,U,,2023-10-25 15:55:16.382000,1,0,1,259,3
272,7,2023-10-25 15:55:19.510898,True,2006050132621,Fruima,,2023-10-25 15:55:20.205000,1,0,1,260,3
273,7,2023-10-25 15:55:33.337229,True,3256223010563,U,,2023-10-25 15:55:33.996000,1,0,1,261,3
274,7,2023-10-25 15:55:37.728287,True,3256223510315,U,,2023-10-25 15:55:38.412000,1,0,1,262,3
275,7,2023-10-25 15:55:48.790875,True,3186630002366,Loic Raison,,2023-10-25 15:55:49.562000,1,0,1,263,3
276,7,2023-10-25 15:55:56.834251,True,7613035833272,Perrier,,2023-10-25 15:55:57.417000,1,0,1,264,3
277,7,2023-10-25 15:56:09.896942,True,3256223100141,U,,2023-10-25 15:56:10.594000,1,0,1,265,3
278,7,2023-10-25 15:56:17.364544,True,3256223100141,U,,2023-10-25 15:56:18.031000,1,0,1,266,3
279,7,2023-10-25 15:56:20.896892,True,3256223010563,U,,0,0,0,0,266,3
280,7,2023-10-25 15:56:28.109442,True,3186630002366,Loic Raison,,2023-10-25 15:56:28.779000,1,0,1,267,3
281,7,2023-10-25 15:56:32.746040,True,7613035974685,Hepar,,2023-10-25 15:56:33.262000,1,0,1,268,3
282,7,2023-10-25 15:56:39.660175,True,7613035833272,Perrier,,2023-10-25 15:56:40.184000,1,0,1,269,3
283,7,2023-10-25 15:57:13.287799,True,2006050132621,Fruima,,2023-10-25 15:57:13.892000,1,0,1,270,3
284,7,2023-10-25 15:57:18.267840,True,3068320118420,Badoit,,2023-10-25 15:57:18.803000,1,0,1,271,3
285,7,2023-10-25 15:57:28.362511,True,3256223510315,U,,2023-10-25 15:57:28.926000,1,0,1,272,3
286,7,2023-10-25 15:57:35.694369,True,3186630002366,Loic Raison,,2023-10-25 15:57:36.266000,1,0,1,273,3
287,7,2023-10-25 15:57:41.096107,True,3254380008430,Cristaline,,2023-10-25 15:57:41.856000,1,0,1,274,3
288,7,2023-10-25 15:58:03.372521,True,3179730115821,Contrex,,2023-10-25 15:58:03.991000,1,0,1,275,3
289,7,2023-10-25 15:58:15.840335,True,3068320120256,Evian,,2023-10-25 15:58:16.519000,1,0,1,276,3
290,7,2023-10-25 15:58:23.973186,True,3274080005003,Cristaline,,2023-10-25 15:58:24.601000,1,0,1,277,3
291,7,2023-10-25 15:58:31.597659,True,3274080005003,Cristaline,,2023-10-25 15:58:32.248000,1,0,1,278,3
292,7,2023-10-25 15:58:38.240549,True,3057640269813,Volvic,,2023-10-25 15:58:38.944000,1,0,1,279,3
293,7,2023-10-25 15:58:47.356296,True,3068320114453,Badoit,,2023-10-25 15:58:48.045000,2,0,2,281,3
294,7,2023-10-25 15:58:58.261385,True,3254380008430,Cristaline,,0,0,0,0,281,3
295,7,2023-10-25 15:59:02.834081,True,3254380008430,Cristaline,,2023-10-25 15:59:03.564000,1,0,1,282,3
296,7,2023-10-25 15:59:10.045546,True,3254380008430,Cristaline,,2023-10-25 15:59:10.769000,1,0,1,283,3
297,7,2023-10-25 15:59:24.009801,True,3274080005003,Cristaline,,2023-10-25 15:59:24.516000,1,0,1,284,3
298,7,2023-10-25 15:59:32.020988,True,3274080005003,Cristaline,,2023-10-25 15:59:32.734000,1,0,1,285,3
299,7,2023-10-25 15:59:38.670601,True,3068320120256,Evian,,2023-10-25 15:59:39.168000,1,0,1,286,3
300,7,2023-10-25 15:59:47.312297,True,3068320120256,Evian,,2023-10-25 15:59:47.873000,1,0,1,287,3
301,7,2023-10-25 15:59:57.841604,True,3274080005003,Cristaline,,2023-10-25 15:59:58.528000,1,0,1,288,3
302,7,2023-10-25 16:00:07.702681,True,3274080005003,Cristaline,,2023-10-25 16:00:08.316000,1,0,1,289,3
303,7,2023-10-25 16:00:13.808157,True,3068320105222,Badoit,,2023-10-25 16:00:14.254000,1,0,1,290,3
304,7,2023-10-25 16:00:20.128722,True,20454456,Saguaro,,2023-10-25 16:00:20.647000,1,0,1,291,3
305,7,2023-10-25 16:00:27.464664,True,3274080005003,Cristaline,,2023-10-25 16:00:28,1,0,1,292,3
306,7,2023-10-25 16:00:38.300989,True,20454456,Saguaro,,2023-10-25 16:00:38.908000,1,0,1,293,3
307,7,2023-10-25 16:00:48.373043,True,5449000004840,Fanta,,2023-10-25 16:00:49.066000,1,0,1,294,3
308,7,2023-10-25 16:00:58.172095,True,3274080005003,Cristaline,,0,0,0,0,294,3
309,7,2023-10-25 16:01:03.503259,True,3274080005003,Cristaline,,2023-10-25 16:01:04.203000,1,0,1,295,3
310,7,2023-10-25 16:01:08.740510,True,3274080005003,Cristaline,,2023-10-25 16:01:09.474000,1,0,1,296,3
311,7,2023-10-25 16:01:16.878194,True,3274080005003,Cristaline,,2023-10-25 16:01:17.537000,1,0,1,297,3
312,7,2023-10-25 16:01:24.130280,True,3256226385682,U,,2023-10-25 16:01:24.771000,1,0,1,298,3
313,7,2023-10-25 16:01:35.000268,True,3502110009449,Tropicana,,2023-10-25 16:01:35.431000,1,0,1,299,3
314,7,2023-10-25 16:01:46.773990,True,3564700494493,Jafaden,,2023-10-25 16:01:47.381000,1,0,1,300,3

In [90]:
df[(df['session_id'] == 8)]

,session_id,actionTime,isAccept,barCode,brand,reason,passlineTime,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
315,8,2023-10-25 16:02:05.071162,True,3274080005003,Cristaline,,2023-10-25 16:02:05.693000,1,0,1,301,3
316,8,2023-10-25 16:02:12.314187,True,3274080005003,Cristaline,,2023-10-25 16:02:12.992000,1,0,1,302,3
317,8,2023-10-25 16:02:15.833854,True,3250390145769,Ondine,,2023-10-25 16:02:16.475000,1,0,1,303,3
318,8,2023-10-25 16:02:27.583635,True,3274080005003,Cristaline,,2023-10-25 16:02:28.211000,1,0,1,304,3
319,8,2023-10-25 16:02:34.137589,True,3274080005003,Cristaline,,2023-10-25 16:02:34.649000,1,0,1,305,3
320,8,2023-10-25 16:02:39.455650,True,3274080005003,Cristaline,,2023-10-25 16:02:40.040000,1,0,1,306,3
321,8,2023-10-25 16:02:44.789690,True,3274080005003,Cristaline,,2023-10-25 16:02:45.420000,1,0,1,307,3
322,8,2023-10-25 16:02:50.324720,True,3274080005003,Cristaline,,2023-10-25 16:02:50.940000,1,0,1,308,3
323,8,2023-10-25 16:02:55.322729,True,3274080005003,Cristaline,,2023-10-25 16:02:55.995000,1,0,1,309,3
324,8,2023-10-25 16:02:58.942912,True,3274080005003,Cristaline,,2023-10-25 16:02:59.554000,1,0,1,310,3
325,8,2023-10-25 16:03:03.657390,True,3274080005003,Cristaline,,2023-10-25 16:03:04.298000,1,0,1,311,3
326,8,2023-10-25 16:03:08.948063,True,3274080005003,Cristaline,,2023-10-25 16:03:09.604000,1,0,1,312,3
327,8,2023-10-25 16:03:20.688042,True,3274080005003,Cristaline,,2023-10-25 16:03:21.193000,1,0,1,313,3
328,8,2023-10-25 16:03:28.938066,True,3274080005003,Cristaline,,2023-10-25 16:03:29.651000,1,0,1,314,3
329,8,2023-10-25 16:03:31.924124,True,3274080005003,Cristaline,,2023-10-25 16:03:32.494000,1,0,1,315,3
330,8,2023-10-25 16:03:37.798338,True,3274080005003,Cristaline,,2023-10-25 16:03:38.479000,1,0,1,316,3
331,8,2023-10-25 16:03:42.587084,True,3274080005003,Cristaline,,2023-10-25 16:03:43.219000,1,0,1,317,3
332,8,2023-10-25 16:03:47.330897,True,3274080005003,Cristaline,,2023-10-25 16:03:47.939000,1,0,1,318,3
333,8,2023-10-25 16:03:51.035606,True,3274080005003,Cristaline,,2023-10-25 16:03:51.604000,1,0,1,319,3
334,8,2023-10-25 16:03:54.073238,True,3274080005003,Cristaline,,2023-10-25 16:03:54.597000,1,0,1,320,3
335,8,2023-10-25 16:04:01.207366,True,3274080005003,Cristaline,,2023-10-25 16:04:01.960000,1,0,1,321,3
336,8,2023-10-25 16:04:08.362249,True,3274080005003,Cristaline,,2023-10-25 16:04:08.688000,1,0,1,322,3
337,8,2023-10-25 16:04:20.134363,True,3274080005003,Cristaline,,2023-10-25 16:04:20.684000,1,0,1,323,3
338,8,2023-10-25 16:04:26.417278,True,5449000232250,Fuzetea,,2023-10-25 16:04:27.095000,1,0,1,324,3
339,8,2023-10-25 16:04:35.406404,True,3250390145769,Ondine,,2023-10-25 16:04:35.997000,1,0,1,325,3
340,8,2023-10-25 16:04:40.008793,True,3560070345519,Carrefour,,2023-10-25 16:04:40.636000,1,0,1,326,3
341,8,2023-10-25 16:04:57.244717,True,3274080005003,Cristaline,,2023-10-25 16:04:57.851000,1,0,1,327,3

In [95]:
df[df['session_id'] == 1]['isAccept'].value_counts()

True    1
Name: isAccept, dtype: int64

In [24]:
df[df['session_id'] == 1]['nb_in'].sum(), df[df['session_id'] == 1]['nb_out'].sum()

(42, 0)

In [25]:
df['nb_out'].sum()

17

#### Merge according to Accepted actionTime

In [26]:
def between2Packing(start, stop, data_dict):
    count_id_list = [count for time, count in data_dict.items() if start <= time <= stop]
    if len(count_id_list) == 0:
        return 0
    else:
        return len(count_id_list)
    
last_non_zero = None

def update_count(row):
    global last_non_zero
    
    if row['count_out'] != 0:
        last_non_zero = row['count_out']
        return row['count_out']
    
    return last_non_zero if last_non_zero is not None else 0

In [27]:
df1 = data_packing.copy()
df1 = df1[df1['isAccept'] == True]
df1 = df1[['machineSerialNumber', 'session_id', 'actionTime', 'isAccept', 'barCode', 'brand', 'reason']]

In [28]:
df1['actionTime'] = df1['actionTime'] + pd.Timedelta(seconds=1)

df1['last_actionTime'] = df1['actionTime'].shift(1)
df1.at[df1.index[0], 'last_actionTime'] = "2000-01-01 00:00:00.000"
df1['last_actionTime'] = pd.to_datetime(df1['last_actionTime'], format='%Y-%m-%d %H:%M:%S.%f')

df1['nb_in']  = df1.apply(lambda row: between2Packing(row['last_actionTime'], row['actionTime'], in_dict),  axis=1)
df1['nb_out'] = df1.apply(lambda row: between2Packing(row['last_actionTime'], row['actionTime'], out_dict), axis=1)
df1['isAcceptIA'] = df1['nb_in'] - df1['nb_out']

df1['count_in']  = df1['nb_in'].cumsum()
df1['count_out'] = df1['nb_out'].cumsum()
# df1['count_in']  = df1.apply(lambda row: sumbetween2Packing(row['last_actionTime'], row['actionTime'], in_dict),  axis=1)
# df1['count_out'] = df1.apply(lambda row: sumbetween2Packing(row['last_actionTime'], row['actionTime'], out_dict),  axis=1)
# df1['count_out'] = df1.apply(update_count, axis=1)

df1.drop(columns=['last_actionTime'], inplace=True)

In [29]:
# df1[(df1['session_id'] >= 1) & (df1['session_id'] <= 4)]
# df1[(df1['session_id'] == 1)]
df1.iloc[0:60]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
1,00323,1,2023-10-20 15:51:29.547156,True,8024884500403,Courmayeur,,0,0,0,0,0
2,00323,1,2023-10-20 15:51:40.285810,True,8024884500403,Courmayeur,,0,0,0,0,0
3,00323,1,2023-10-20 15:51:48.086518,True,8024884500403,Courmayeur,,0,0,0,0,0
4,00323,1,2023-10-20 15:51:55.070732,True,3450970070782,Eco+,,1,0,1,1,0
5,00323,1,2023-10-20 15:52:00.999094,True,3450970070782,Eco+,,1,0,1,2,0
6,00323,1,2023-10-20 15:52:14.035877,True,8024884500403,Courmayeur,,1,0,1,3,0
7,00323,1,2023-10-20 15:52:22.117612,True,8024884500403,Courmayeur,,1,0,1,4,0
8,00323,1,2023-10-20 15:52:28.705912,True,8024884500403,Courmayeur,,1,0,1,5,0
9,00323,1,2023-10-20 15:52:36.068627,True,3450970070782,Eco+,,1,0,1,6,0
10,00323,1,2023-10-20 15:52:45.977220,True,3274080005003,Cristaline,,1,0,1,7,0
11,00323,1,2023-10-20 15:52:53.242675,True,3564706668577,Jafun,,1,0,1,8,0
12,00323,1,2023-10-20 15:53:00.874836,True,8024884500403,Courmayeur,,1,0,1,9,0
13,00323,1,2023-10-20 15:53:09.837703,True,3410280078397,Intermarche,,1,0,1,10,0
14,00323,1,2023-10-20 15:53:16.546006,True,3564706668577,Jafun,,1,0,1,11,0
15,00323,1,2023-10-20 15:53:23.029887,True,8024884500403,Courmayeur,,1,0,1,12,0
16,00323,1,2023-10-20 15:53:30.094618,True,3274080005003,Cristaline,,1,0,1,13,0
17,00323,1,2023-10-20 15:53:37.151496,True,3274080005003,Cristaline,,1,0,1,14,0
18,00323,1,2023-10-20 15:53:50.120900,True,3564700427057,Marque Repere,,1,0,1,15,0
19,00323,1,2023-10-20 15:53:56.802269,True,3250390001287,Paquito,,1,0,1,16,0
20,00323,1,2023-10-20 15:54:01.750301,True,8024884500403,Courmayeur,,1,0,1,17,0
21,00323,1,2023-10-20 15:54:09.113645,True,3564700813850,Sprink S,,1,0,1,18,0
22,00323,1,2023-10-20 15:54:24.657018,True,5000112558272,Coca-Cola,,1,0,1,19,0
23,00323,1,2023-10-20 15:54:30.682678,True,3268840001008,Cristaline,,1,0,1,20,0
24,00323,1,2023-10-20 15:54:38.007156,True,3274080005003,Cristaline,,1,0,1,21,0
25,00323,1,2023-10-20 15:54:42.124311,True,8024884500403,Courmayeur,,1,0,1,22,0
26,00323,1,2023-10-20 15:54:49.292703,True,3274080005003,Cristaline,,1,0,1,23,0
27,00323,1,2023-10-20 15:54:55.980223,True,3450970070782,Eco+,,1,0,1,24,0
28,00323,1,2023-10-20 15:55:02.900051,True,3450970070782,Eco+,,1,0,1,25,0
29,00323,1,2023-10-20 15:55:07.996426,True,3450970070782,Eco+,,1,0,1,26,0
30,00323,1,2023-10-20 15:55:13.782686,True,3450970070782,Eco+,,1,0,1,27,0
31,00323,1,2023-10-20 15:55:19.613224,True,3450970070782,Eco+,,1,0,1,28,0
32,00323,1,2023-10-20 15:55:26.000116,True,8024884500403,Courmayeur,,1,0,1,29,0
33,00323,1,2023-10-20 15:55:30.112796,True,3564700813850,Sprink S,,1,0,1,30,0
34,00323,1,2023-10-20 15:55:38.739443,True,8024884500403,Courmayeur,,1,0,1,31,0
35,00323,1,2023-10-20 15:55:55.105818,True,3450970070782,Eco+,,1,0,1,32,0
36,00323,1,2023-10-20 15:56:01.364793,True,3450970070782,Eco+,,1,0,1,33,0
37,00323,1,2023-10-20 15:56:08.290156,True,8024884500403,Courmayeur,,1,0,1,34,0
38,00323,1,2023-10-20 15:56:17.088094,True,8024884500403,Courmayeur,,0,0,0,34,0
39,00323,1,2023-10-20 15:56:32.157676,True,3564706668577,Jafun,,1,0,1,35,0
40,00323,1,2023-10-20 15:56:36.545990,True,8024884500403,Courmayeur,,1,0,1,36,0
41,00323,1,2023-10-20 15:56:42.677454,True,3450970070782,Eco+,,1,0,1,37,0
42,00323,1,2023-10-20 15:56:50.413127,True,3450970070782,Eco+,,1,0,1,38,0
43,00323,1,2023-10-20 15:56:59.047194,True,8024884500403,Courmayeur,,1,0,1,39,0
44,00323,1,2023-10-20 15:57:11.883304,True,3564700371091,Laqueuille - Marque Repère,,1,0,1,40,0
45,00323,1,2023-10-20 15:57:20.089454,True,3268840001008,Cristaline,,0,0,0,40,0
46,00323,1,2023-10-20 15:57:23.887668,True,8024884500403,Courmayeur,,1,0,1,41,0
47,00323,1,2023-10-20 15:57:30.808883,True,8024884500403,Courmayeur,,1,0,1,42,0
48,00323,2,2023-10-20 15:58:10.707229,True,3274080005003,Cristaline,,1,0,1,43,0
49,00323,2,2023-10-20 15:58:23.068871,True,3274080005003,Cristaline,,1,0,1,44,0
50,00323,2,2023-10-20 15:58:34.600127,True,3274080005003,Cristaline,,1,0,1,45,0
51,00323,2,2023-10-20 15:58:43.439180,True,3274080005003,Cristaline,,1,0,1,46,0
52,00323,2,2023-10-20 15:58:52.899849,True,3274080005003,Cristaline,,1,0,1,47,0
53,00323,2,2023-10-20 15:59:03.834443,True,3274080005003,Cristaline,,1,0,1,48,0
54,00323,2,2023-10-20 15:59:12.254417,True,3274080005003,Cristaline,,1,0,1,49,0
55,00323,2,2023-10-20 15:59:25.111416,True,3274080005003,Cristaline,,1,0,1,50,0
56,00323,2,2023-10-20 15:59:37.452232,True,3274080005003,Cristaline,,1,0,1,51,0
57,00323,2,2023-10-20 15:59:46.796788,True,3274080005003,Cristaline,,1,0,1,52,0
58,00323,2,2023-10-20 15:59:57.136362,True,3274080005003,Cristaline,,1,0,1,53,0
59,00323,2,2023-10-20 16:00:07.598328,True,3274080005003,Cristaline,,1,0,1,54,0
60,00323,2,2023-10-20 16:00:15.556562,True,3274080005003,Cristaline,,1,0,1,55,0

In [54]:
df1.iloc[60:120]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
62,00007,5,2023-08-26 08:42:34.148717,True,3274080005003,Cristaline,,1,0,1,63,2
63,00007,5,2023-08-26 08:42:41.662434,True,3274080005003,Cristaline,,1,0,1,64,2
64,00007,5,2023-08-26 08:42:48.612258,True,3660992012589,Prix Mini,,1,0,1,65,2
65,00007,5,2023-08-26 08:42:57.859265,True,3124480195319,May Tea,,1,0,1,66,2
66,00007,5,2023-08-26 08:43:08.809065,True,3254380008430,Cristaline,,1,0,1,67,2
67,00007,5,2023-08-26 08:43:35.587971,True,3068320123264,La Salvetat,,1,0,1,68,2
68,00007,5,2023-08-26 08:43:44.366976,True,3068320123264,La Salvetat,,1,0,1,69,2
69,00007,5,2023-08-26 08:43:53.379592,True,3274080005003,Cristaline,,1,0,1,70,2
70,00007,5,2023-08-26 08:44:02.484895,True,3274080005003,Cristaline,,1,0,1,71,2
71,00007,5,2023-08-26 08:44:09.167844,True,3274080005003,Cristaline,,1,0,1,72,2
72,00007,5,2023-08-26 08:44:16.683131,True,3068320123264,La Salvetat,,1,0,1,73,2
73,00007,5,2023-08-26 08:44:23.823839,True,3660992012589,Prix Mini,,1,0,1,74,2
74,00007,5,2023-08-26 08:44:32.257134,True,3274080005003,Cristaline,,1,0,1,75,2
75,00007,5,2023-08-26 08:44:42.740379,True,3274080005003,Cristaline,,1,0,1,76,2
76,00007,5,2023-08-26 08:44:52.597271,True,3274080005003,Cristaline,,1,0,1,77,2
77,00007,5,2023-08-26 08:45:00.238075,True,3274080005003,Cristaline,,1,0,1,78,2
78,00007,5,2023-08-26 08:45:13.312112,True,3256227459078,U,,0,0,0,78,2
79,00007,5,2023-08-26 08:45:22.968163,True,3660992012589,Prix Mini,,2,0,2,80,2
80,00007,5,2023-08-26 08:45:31.719478,True,3660992012589,Prix Mini,,1,0,1,81,2
81,00007,5,2023-08-26 08:45:40.858888,True,3254380008430,Cristaline,,1,0,1,82,2
82,00007,5,2023-08-26 08:45:47.402357,True,3274080005003,Cristaline,,1,0,1,83,2
83,00007,5,2023-08-26 08:45:56.540903,True,3274080005003,Cristaline,,1,0,1,84,2
84,00007,5,2023-08-26 08:46:03.775824,True,3068320123264,La Salvetat,,1,0,1,85,2
85,00007,5,2023-08-26 08:46:11.510565,True,3660992012589,Prix Mini,,1,0,1,86,2
86,00007,5,2023-08-26 08:46:17.171819,True,3660992012589,Prix Mini,,1,0,1,87,2
87,00007,5,2023-08-26 08:46:36.803825,True,3254380008430,Cristaline,,0,0,0,87,2
88,00007,5,2023-08-26 08:46:41.737023,True,3274080005003,Cristaline,,1,0,1,88,2
89,00007,5,2023-08-26 08:46:46.943219,True,3660992012589,Prix Mini,,1,0,1,89,2
90,00007,5,2023-08-26 08:47:00.085840,True,3068320123264,La Salvetat,,1,0,1,90,2
91,00007,6,2023-08-26 08:51:48.107601,True,8024884500403,Courmayeur,,2,0,2,92,2
92,00007,6,2023-08-26 08:51:56.910496,True,3560070167470,Carrefour,,1,0,1,93,2
93,00007,6,2023-08-26 08:52:03.146736,True,3268840001008,Cristaline,,1,0,1,94,2
94,00007,6,2023-08-26 08:52:07.393917,True,8024884500403,Courmayeur,,1,0,1,95,2
95,00007,6,2023-08-26 08:52:12.198697,True,3274080005003,Cristaline,,1,0,1,96,2
96,00007,6,2023-08-26 08:52:22.261978,True,8024884500403,Courmayeur,,1,0,1,97,2
97,00007,6,2023-08-26 08:52:31.409177,True,3268840001008,Cristaline,,1,0,1,98,2
98,00007,6,2023-08-26 08:52:35.721500,True,3268840001008,Cristaline,,1,0,1,99,2
99,00007,6,2023-08-26 08:52:47.689251,True,3268840001008,Cristaline,,2,1,1,101,3
100,00007,6,2023-08-26 08:52:56.137128,True,8002270014901,San Pellegrino,,1,0,1,102,3
101,00007,6,2023-08-26 08:53:03.713805,True,8024884500403,Courmayeur,,1,0,1,103,3
102,00007,6,2023-08-26 08:53:08.517843,True,3268840001008,Cristaline,,1,0,1,104,3
103,00007,6,2023-08-26 08:53:14.655843,True,8024884500403,Courmayeur,,1,0,1,105,3
104,00007,6,2023-08-26 08:53:22.167018,True,3560070167470,Carrefour,,1,0,1,106,3
105,00007,6,2023-08-26 08:53:30.137915,True,3560070167470,Carrefour,,1,0,1,107,3
106,00007,6,2023-08-26 08:53:36.548622,True,3274080005003,Cristaline,,1,0,1,108,3
107,00007,6,2023-08-26 08:54:05.546880,True,3274080005003,Cristaline,,0,0,0,108,3
108,00007,6,2023-08-26 08:54:09.248697,True,3162850141689,Saint Amand,,0,0,0,108,3
109,00007,6,2023-08-26 08:54:16.479728,True,3162850142013,Saint Amand,,2,0,2,110,3
110,00007,6,2023-08-26 08:54:25.164765,True,3254380008430,Cristaline,,1,0,1,111,3
111,00007,6,2023-08-26 08:54:32.180971,True,3254380008430,Cristaline,,1,0,1,112,3
112,00007,6,2023-08-26 08:54:42.818367,True,3560070167470,Carrefour,,1,0,1,113,3
113,00007,6,2023-08-26 08:54:50.178913,True,3560070167470,Carrefour,,1,0,1,114,3
114,00007,6,2023-08-26 08:54:59.407688,True,8024884500403,Courmayeur,,1,0,1,115,3
115,00007,6,2023-08-26 08:55:23.953961,True,8024884500403,Courmayeur,,1,0,1,116,3
116,00007,6,2023-08-26 08:55:28.090970,True,3254380008430,Cristaline,,1,0,1,117,3
117,00007,6,2023-08-26 08:55:35.848377,True,3268840001008,Cristaline,,1,0,1,118,3
118,00007,6,2023-08-26 08:55:53.198303,True,3268840001008,Cristaline,,1,0,1,119,3
119,00007,6,2023-08-26 08:55:59.766851,True,3162850142013,Saint Amand,,0,0,0,119,3
120,00007,6,2023-08-26 08:56:05.369654,True,3268840001008,Cristaline,,1,0,1,120,3
121,00007,7,2023-08-26 09:19:13.993058,True,3274080005003,Cristaline,,1,0,1,121,3

In [55]:
df1.iloc[120:180]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
122,00007,7,2023-08-26 09:19:19.743908,True,3274080005003,Cristaline,,1,0,1,122,3
123,00007,7,2023-08-26 09:19:25.965468,True,3274080005003,Cristaline,,1,0,1,123,3
124,00007,7,2023-08-26 09:19:30.315162,True,3274080005003,Cristaline,,1,0,1,124,3
125,00007,7,2023-08-26 09:19:35.737496,True,3274080005003,Cristaline,,1,0,1,125,3
126,00007,7,2023-08-26 09:19:41.663035,True,3274080005003,Cristaline,,1,0,1,126,3
127,00007,8,2023-08-26 09:42:07.470089,True,3256223510100,U,,1,0,1,127,3
128,00007,8,2023-08-26 09:42:15.403131,True,3274080005003,Cristaline,,1,0,1,128,3
129,00007,8,2023-08-26 09:42:21.692966,True,3274080005003,Cristaline,,1,0,1,129,3
130,00007,8,2023-08-26 09:42:27.705314,True,3274080005003,Cristaline,,1,0,1,130,3
131,00007,8,2023-08-26 09:42:32.048926,True,3274080005003,Cristaline,,1,0,1,131,3
132,00007,8,2023-08-26 09:42:34.729084,True,3274080005003,Cristaline,,1,0,1,132,3
133,00007,8,2023-08-26 09:42:39.174369,True,3274080005003,Cristaline,,1,0,1,133,3
134,00007,8,2023-08-26 09:42:42.892368,True,3256223510100,U,,1,0,1,134,3
135,00007,8,2023-08-26 09:42:48.190070,True,3256223510100,U,,1,0,1,135,3
136,00007,8,2023-08-26 09:42:52.041516,True,3274080005003,Cristaline,,1,0,1,136,3
138,00007,8,2023-08-26 09:43:18.775156,True,3274080005003,Cristaline,,1,0,1,137,3
139,00007,8,2023-08-26 09:43:21.663230,True,3274080005003,Cristaline,,1,0,1,138,3
140,00007,8,2023-08-26 09:43:25.311899,True,3274080005003,Cristaline,,1,0,1,139,3
141,00007,8,2023-08-26 09:43:29.296907,True,3274080005003,Cristaline,,0,0,0,139,3
142,00007,8,2023-08-26 09:43:39.065458,True,3274080005003,Cristaline,,1,0,1,140,3
143,00007,8,2023-08-26 09:43:50.033708,True,3274080005003,Cristaline,,1,0,1,141,3
144,00007,8,2023-08-26 09:44:05.890147,True,3274080005003,Cristaline,,1,0,1,142,3
145,00007,8,2023-08-26 09:44:14.534328,True,3274080005003,Cristaline,,2,0,2,144,3
146,00007,8,2023-08-26 09:44:20.430298,True,3274080005003,Cristaline,,1,0,1,145,3
147,00007,8,2023-08-26 09:44:25.780968,True,3256223510100,U,,1,0,1,146,3
148,00007,8,2023-08-26 09:44:32.115107,True,8002270014901,San Pellegrino,,1,0,1,147,3
149,00007,8,2023-08-26 09:44:36.636965,True,3274080005003,Cristaline,,1,0,1,148,3
150,00007,8,2023-08-26 09:44:42.228288,True,3274080005003,Cristaline,,0,0,0,148,3
151,00007,8,2023-08-26 09:44:47.153577,True,3274080005003,Cristaline,,1,0,1,149,3
152,00007,8,2023-08-26 09:44:55.881601,True,8002270014901,San Pellegrino,,2,0,2,151,3
153,00007,8,2023-08-26 09:45:06.659532,True,3274080005003,Cristaline,,1,0,1,152,3
154,00007,8,2023-08-26 09:45:12.176446,True,3274080005003,Cristaline,,1,0,1,153,3
155,00007,8,2023-08-26 09:45:16.999699,True,3274080005003,Cristaline,,1,0,1,154,3
156,00007,8,2023-08-26 09:45:20.941864,True,3274080005003,Cristaline,,1,0,1,155,3
157,00007,8,2023-08-26 09:45:28.842167,True,8002270014901,San Pellegrino,,1,0,1,156,3
158,00007,8,2023-08-26 09:45:35.891774,True,3274080005003,Cristaline,,0,0,0,156,3
159,00007,8,2023-08-26 09:45:42.739183,True,8002270014901,San Pellegrino,,2,0,2,158,3
160,00007,8,2023-08-26 09:45:49.354167,True,3274080005003,Cristaline,,1,0,1,159,3
161,00007,8,2023-08-26 09:45:54.110822,True,3256223510100,U,,1,0,1,160,3
162,00007,8,2023-08-26 09:45:58.629093,True,3274080005003,Cristaline,,1,0,1,161,3
163,00007,8,2023-08-26 09:46:01.973129,True,3274080005003,Cristaline,,1,0,1,162,3
164,00007,8,2023-08-26 09:46:06.663140,True,3274080005003,Cristaline,,1,0,1,163,3
165,00007,8,2023-08-26 09:46:11.111353,True,8002270014901,San Pellegrino,,1,0,1,164,3
167,00007,8,2023-08-26 09:46:22.462658,True,3274080005003,Cristaline,,1,0,1,165,3
168,00007,8,2023-08-26 09:46:32.713006,True,3274080005003,Cristaline,,0,0,0,165,3
169,00007,8,2023-08-26 09:46:36.754626,True,3256223510018,U,,1,0,1,166,3
170,00007,8,2023-08-26 09:46:42.773281,True,8002270014901,San Pellegrino,,1,0,1,167,3
171,00007,8,2023-08-26 09:46:48.796814,True,3274080005003,Cristaline,,2,0,2,169,3
172,00007,8,2023-08-26 09:47:01.500824,True,3274080005003,Cristaline,,0,0,0,169,3
173,00007,8,2023-08-26 09:47:07.241057,True,3274080005003,Cristaline,,1,0,1,170,3
174,00007,8,2023-08-26 09:47:10.054290,True,3274080005003,Cristaline,,1,0,1,171,3
175,00007,8,2023-08-26 09:47:22.407955,True,8002270014901,San Pellegrino,,1,0,1,172,3
176,00007,8,2023-08-26 09:47:41.884832,True,8002270014901,San Pellegrino,,1,0,1,173,3
177,00007,8,2023-08-26 09:47:45.596712,True,3274080005003,Cristaline,,0,0,0,173,3
178,00007,8,2023-08-26 09:47:59.733643,True,3274080005003,Cristaline,,2,0,2,175,3
179,00007,8,2023-08-26 09:48:03.657242,True,3100881040809,St Yorre,,0,0,0,175,3
180,00007,8,2023-08-26 09:48:08.678375,True,8002270014901,San Pellegrino,,1,0,1,176,3
181,00007,8,2023-08-26 09:48:14.997158,True,3274080005003,Cristaline,,1,0,1,177,3
182,00007,9,2023-08-26 09:49:20.045272,True,3254380008430,Cristaline,,3,0,3,180,3
183,00007,9,2023-08-26 09:49:28.851540,True,3123340003023,Joker,,0,0,0,180,3

In [56]:
df1.iloc[180:240]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
184,00007,9,2023-08-26 09:49:33.291838,True,3257971309114,Mont Roucous,,1,0,1,181,3
185,00007,9,2023-08-26 09:49:37.318957,True,3123349014129,Joker,,1,0,1,182,3
186,00007,9,2023-08-26 09:49:41.288208,True,3257971309114,Mont Roucous,,1,0,1,183,3
187,00007,9,2023-08-26 09:49:44.999343,True,3608580110200,Andros,,1,0,1,184,3
188,00007,9,2023-08-26 09:50:19.869072,True,3256224762706,U,,1,0,1,185,3
189,00007,9,2023-08-26 09:50:25.527881,True,3256224762706,U,,0,0,0,185,3
190,00007,9,2023-08-26 09:50:37.554234,True,3274080005003,Cristaline,,2,0,2,187,3
191,00007,9,2023-08-26 09:50:43.280527,True,3124480195319,May Tea,,0,0,0,187,3
192,00007,9,2023-08-26 09:50:47.088212,True,3254380008430,Cristaline,,0,0,0,187,3
193,00007,9,2023-08-26 09:50:51.346012,True,3274080005003,Cristaline,,1,0,1,188,3
194,00007,9,2023-08-26 09:50:56.643548,True,3254380008430,Cristaline,,0,2,-2,188,5
195,00007,9,2023-08-26 09:51:01.492784,True,3274080005003,Cristaline,,1,0,1,189,5
196,00007,9,2023-08-26 09:51:10.136349,True,3661138600585,Sunny Delight,,2,0,2,191,5
197,00007,9,2023-08-26 09:51:13.946271,True,4056489249603,Solevita,,1,0,1,192,5
198,00007,9,2023-08-26 09:51:27.191459,True,3254380008430,Cristaline,,2,0,2,194,5
199,00007,9,2023-08-26 09:51:31.205431,True,3123340003023,Joker,,0,0,0,194,5
200,00007,10,2023-08-26 11:24:19.535907,True,3123340003023,Joker,,4,0,4,198,5
201,00007,10,2023-08-26 11:24:27.892103,True,3068320084602,Evian,,1,0,1,199,5
202,00007,10,2023-08-26 11:24:32.816930,True,3068320118420,Badoit,,1,0,1,200,5
203,00007,10,2023-08-26 11:24:37.047059,True,3068320118437,Badoit,,1,0,1,201,5
204,00007,10,2023-08-26 11:24:47.110411,True,7613035974685,Hepar,,1,0,1,202,5
205,00007,10,2023-08-26 11:24:57.654317,True,3254380008430,Cristaline,,1,0,1,203,5
206,00007,10,2023-08-26 11:25:03.231134,True,4056489249603,Solevita,,1,0,1,204,5
207,00007,10,2023-08-26 11:25:08.384779,True,1210002000239,Tropicana,,1,0,1,205,5
208,00007,10,2023-08-26 11:25:12.294812,True,3179732333919,Vittel,,1,0,1,206,5
209,00007,10,2023-08-26 11:25:38.717513,True,7613035974685,Hepar,,1,0,1,207,5
210,00007,10,2023-08-26 11:25:42.581706,True,7613035974685,Hepar,,1,0,1,208,5
211,00007,10,2023-08-26 11:25:54.827013,True,3068320118420,Badoit,,1,0,1,209,5
212,00007,11,2023-08-26 11:51:56.557261,True,3068320118420,Badoit,,0,1,-1,209,6
213,00007,11,2023-08-26 11:52:02.204163,True,8024884117809,Courmayeur,,0,0,0,209,6
214,00007,11,2023-08-26 11:52:07.898417,True,3256229292642,Marque U,,1,0,1,210,6
215,00007,11,2023-08-26 11:52:11.839027,True,8024884117809,Courmayeur,,1,0,1,211,6
216,00007,11,2023-08-26 11:52:17.042567,True,8024884117809,Courmayeur,,1,0,1,212,6
217,00007,11,2023-08-26 11:52:22.565507,True,8024884117809,Courmayeur,,1,0,1,213,6
218,00007,11,2023-08-26 11:52:38.420505,True,3256229292642,Marque U,,1,0,1,214,6
219,00007,11,2023-08-26 11:52:44.446596,True,8024884117809,Courmayeur,,1,0,1,215,6
220,00007,11,2023-08-26 11:53:04.860510,True,8024884117809,Courmayeur,,1,0,1,216,6
221,00007,11,2023-08-26 11:53:08.246943,True,8024884117809,Courmayeur,,0,0,0,216,6
222,00007,11,2023-08-26 11:53:18.223068,True,5000112611762,Coca-Cola,,1,0,1,217,6
223,00007,11,2023-08-26 11:53:32.692498,True,8024884117809,Courmayeur,,1,0,1,218,6
224,00007,11,2023-08-26 11:53:37.706134,True,3256229292642,Marque U,,1,0,1,219,6
225,00007,11,2023-08-26 11:53:41.864363,True,8024884117809,Courmayeur,,1,0,1,220,6
226,00007,11,2023-08-26 11:53:46.565374,True,8024884117809,Courmayeur,,1,0,1,221,6
227,00007,11,2023-08-26 11:54:04.484507,True,8024884117809,Courmayeur,,0,0,0,221,6
228,00007,12,2023-08-26 12:08:26.676842,True,3274080005003,Cristaline,,2,0,2,223,6
229,00007,12,2023-08-26 12:08:34.832402,True,3274080005003,Cristaline,,1,0,1,224,6
230,00007,12,2023-08-26 12:08:39.842664,True,3274080005003,Cristaline,,1,0,1,225,6
231,00007,12,2023-08-26 12:08:43.399473,True,3274080005003,Cristaline,,1,0,1,226,6
232,00007,12,2023-08-26 12:08:46.914929,True,3274080005003,Cristaline,,1,0,1,227,6
234,00007,12,2023-08-26 12:09:10.252324,True,3274080005003,Cristaline,,1,0,1,228,6
235,00007,12,2023-08-26 12:09:16.398596,True,3274080005003,Cristaline,,1,0,1,229,6
237,00007,12,2023-08-26 12:10:09.868171,True,3274080005003,Cristaline,,8,5,3,237,11
238,00007,12,2023-08-26 12:10:18.734116,True,3274080005003,Cristaline,,4,6,-2,241,17
239,00007,12,2023-08-26 12:10:26.837544,True,3274080005003,Cristaline,,1,0,1,242,17
240,00007,12,2023-08-26 12:10:32.691236,True,3274080005003,Cristaline,,1,0,1,243,17
241,00007,12,2023-08-26 12:10:45.750722,True,3274080005003,Cristaline,,2,0,2,245,17
242,00007,12,2023-08-26 12:10:53.690082,True,3274080005003,Cristaline,,1,0,1,246,17
243,00007,12,2023-08-26 12:11:01.349905,True,3560070167470,Carrefour,,2,0,2,248,17
244,00007,12,2023-08-26 12:11:08.891241,True,3274080005003,Cristaline,,1,0,1,249,17
245,00007,12,2023-08-26 12:11:20.655917,True,5449000000439,Coca-Cola,,0,0,0,249,17

In [91]:
df1.iloc[240:300]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
246,00007,12,2023-08-26 12:11:48.704981,True,5000112611762,Coca-Cola,,2,0,2,251,17
248,00007,12,2023-08-26 12:12:10.777484,True,3274080005003,Cristaline,,2,1,1,253,18
249,00007,12,2023-08-26 12:12:17.596116,True,3274080005003,Cristaline,,1,0,1,254,18
250,00007,12,2023-08-26 12:12:24.670361,True,3274080005003,Cristaline,,1,0,1,255,18
251,00007,12,2023-08-26 12:12:31.583282,True,3274080005003,Cristaline,,1,0,1,256,18
252,00007,12,2023-08-26 12:12:43.215833,True,3274080005003,Cristaline,,1,0,1,257,18
253,00007,12,2023-08-26 12:12:52.172788,True,3274080005003,Cristaline,,1,0,1,258,18
254,00007,12,2023-08-26 12:13:00.002059,True,3274080005003,Cristaline,,1,0,1,259,18
255,00007,12,2023-08-26 12:13:07.294599,True,3274080005003,Cristaline,,1,0,1,260,18
256,00007,12,2023-08-26 12:13:29.919714,True,5000112611762,Coca-Cola,,1,0,1,261,18
257,00007,12,2023-08-26 12:13:39.983454,True,5449000133328,Coca-Cola,,1,0,1,262,18
259,00007,12,2023-08-26 12:14:22.681547,True,3274080005003,Cristaline,,2,1,1,264,19
260,00007,12,2023-08-26 12:14:33.578555,True,3274080005003,Cristaline,,2,0,2,266,19
262,00007,13,2023-08-26 12:16:14.268049,True,3124480002129,Schweppes,,1,0,1,267,19
263,00007,13,2023-08-26 12:16:29.330868,True,3254380008430,Cristaline,,1,0,1,268,19
264,00007,13,2023-08-26 12:16:35.355470,True,3254380008430,Cristaline,,1,0,1,269,19
265,00007,13,2023-08-26 12:16:46.427223,True,3124480002129,Schweppes,,1,0,1,270,19
266,00007,13,2023-08-26 12:16:54.583054,True,3274080005003,Cristaline,,1,0,1,271,19
267,00007,13,2023-08-26 12:17:01.160452,True,3124480002129,Schweppes,,1,0,1,272,19
268,00007,13,2023-08-26 12:17:05.640351,True,20454456,Saguaro,,1,0,1,273,19
269,00007,13,2023-08-26 12:17:18.720989,True,3256223010532,U,,1,0,1,274,19
270,00007,13,2023-08-26 12:17:27.799418,True,20454456,Saguaro,,1,0,1,275,19
271,00007,13,2023-08-26 12:17:40.575013,True,3274080005003,Cristaline,,1,0,1,276,19
272,00007,13,2023-08-26 12:17:49.298707,True,3256223010532,U,,1,0,1,277,19
273,00007,13,2023-08-26 12:17:55.738497,True,3068320123264,La Salvetat,,1,0,1,278,19
274,00007,13,2023-08-26 12:18:00.767581,True,3124480002129,Schweppes,,1,0,1,279,19
275,00007,13,2023-08-26 12:18:11.281402,True,3124480196262,Schweppes,,1,0,1,280,19
276,00007,13,2023-08-26 12:18:16.290161,True,20562175,Saguaro,,1,0,1,281,19
277,00007,13,2023-08-26 12:18:27.525477,True,3254380008430,Cristaline,,1,0,1,282,19
278,00007,13,2023-08-26 12:18:43.181210,True,3274080005003,Cristaline,,0,0,0,282,19
279,00007,13,2023-08-26 12:18:49.209853,True,3254380008430,Cristaline,,2,0,2,284,19
280,00007,13,2023-08-26 12:18:55.371619,True,3274080005003,Cristaline,,1,0,1,285,19
281,00007,13,2023-08-26 12:19:01.472348,True,20562175,Saguaro,,1,0,1,286,19
282,00007,13,2023-08-26 12:19:11.329134,True,40882475,Saguaro,,1,0,1,287,19
283,00007,13,2023-08-26 12:19:17.894388,True,3245411441920,Carrefour,,1,0,1,288,19
284,00007,13,2023-08-26 12:19:49.872271,True,3254380008430,Cristaline,,1,0,1,289,19
285,00007,14,2023-08-26 12:23:03.216732,True,3254381025887,Cristaline,,1,0,1,290,19
286,00007,14,2023-08-26 12:23:06.836417,True,3274080005003,Cristaline,,1,0,1,291,19
287,00007,14,2023-08-26 12:23:11.343784,True,3274080005003,Cristaline,,1,0,1,292,19
288,00007,14,2023-08-26 12:23:24.512917,True,3274080005003,Cristaline,,1,0,1,293,19
289,00007,14,2023-08-26 12:23:34.877657,True,3254381025887,Cristaline,,1,0,1,294,19
290,00007,14,2023-08-26 12:23:46.917915,True,3274080005003,Cristaline,,1,0,1,295,19
291,00007,14,2023-08-26 12:23:52.136817,True,3274080005003,Cristaline,,1,0,1,296,19
292,00007,14,2023-08-26 12:24:02.576127,True,3124480204127,Oasis,,1,0,1,297,19
293,00007,14,2023-08-26 12:24:16.523800,True,3249760000654,Orangina,,0,0,0,297,19
294,00007,14,2023-08-26 12:25:05.105210,True,3274080005003,Cristaline,,2,1,1,299,20
295,00007,14,2023-08-26 12:25:08.629328,True,3274080005003,Cristaline,,1,0,1,300,20
296,00007,14,2023-08-26 12:25:13.726096,True,8002270014901,San Pellegrino,,1,0,1,301,20
297,00007,14,2023-08-26 12:25:21.176082,True,3254381025887,Cristaline,,1,0,1,302,20
298,00007,14,2023-08-26 12:25:26.200538,True,3254381025887,Cristaline,,1,0,1,303,20
299,00007,14,2023-08-26 12:25:37.136620,True,3068320114453,Badoit,,1,0,1,304,20
300,00007,14,2023-08-26 12:25:44.653706,True,7613035974685,Hepar,,1,0,1,305,20
301,00007,14,2023-08-26 12:25:51.776569,True,3254381025887,Cristaline,,1,0,1,306,20
302,00007,14,2023-08-26 12:25:55.678408,True,3274080005003,Cristaline,,1,0,1,307,20
303,00007,14,2023-08-26 12:26:00.520798,True,3254381025887,Cristaline,,1,0,1,308,20
304,00007,14,2023-08-26 12:26:04.429763,True,8002270014901,San Pellegrino,,1,0,1,309,20
305,00007,14,2023-08-26 12:26:10.048993,True,8002270014901,San Pellegrino,,1,0,1,310,20
306,00007,14,2023-08-26 12:26:13.640311,True,8410055050011,Font Vella,,1,0,1,311,20
308,00007,14,2023-08-26 12:26:37.218768,True,8410055150018,Font Vella,,1,0,1,312,20
309,00007,14,2023-08-26 12:26:42.235089,True,20945589,Naturis,,1,0,1,313,20

In [92]:
df1.iloc[300:360]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
310,00007,14,2023-08-26 12:26:47.463456,True,20945589,Naturis,,1,0,1,314,20
311,00007,14,2023-08-26 12:26:52.279315,True,8410055050011,Font Vella,,1,0,1,315,20
312,00007,14,2023-08-26 12:26:57.591761,True,42399438,Minute Maid,,1,0,1,316,20
313,00007,15,2023-08-26 12:54:08.764205,True,3274080005003,Cristaline,,1,0,1,317,20
314,00007,15,2023-08-26 12:54:13.989472,True,3274080005003,Cristaline,,1,0,1,318,20
315,00007,15,2023-08-26 12:54:18.842543,True,3274080005003,Cristaline,,1,0,1,319,20
316,00007,15,2023-08-26 12:54:24.637447,True,3564700126790,Marque Repere,,1,0,1,320,20
317,00007,15,2023-08-26 12:54:28.066444,True,3274080005003,Cristaline,,1,0,1,321,20
318,00007,15,2023-08-26 12:54:31.867831,True,3274080005003,Cristaline,,1,0,1,322,20
319,00007,15,2023-08-26 12:54:43.768745,True,3274080005003,Cristaline,,0,0,0,322,20
320,00007,15,2023-08-26 12:54:49.074667,True,3274080005003,Cristaline,,1,0,1,323,20
321,00007,15,2023-08-26 12:54:54.025953,True,3564700126790,Marque Repere,,1,0,1,324,20
322,00007,15,2023-08-26 12:54:58.169987,True,3564700126790,Marque Repere,,2,0,2,326,20
323,00007,15,2023-08-26 12:55:06.067806,True,3564700126790,Marque Repere,,1,0,1,327,20
324,00007,15,2023-08-26 12:55:21.966090,True,3564700126790,Marque Repere,,1,0,1,328,20
325,00007,15,2023-08-26 12:55:34.033667,True,3274080005003,Cristaline,,1,0,1,329,20
326,00007,15,2023-08-26 12:55:47.661473,True,3274080005003,Cristaline,,1,0,1,330,20
327,00007,15,2023-08-26 12:55:53.662979,True,3274080005003,Cristaline,,1,0,1,331,20
328,00007,15,2023-08-26 12:56:11.335030,True,3257971309114,Mont Roucous,,0,0,0,331,20
329,00007,15,2023-08-26 12:56:16.689391,True,3274080005003,Cristaline,,1,0,1,332,20
330,00007,15,2023-08-26 12:56:37.882987,True,3564700126790,Marque Repere,,1,0,1,333,20
331,00007,15,2023-08-26 12:56:42.116145,True,3274080005003,Cristaline,,0,0,0,333,20
332,00007,15,2023-08-26 12:56:46.684580,True,3274080005003,Cristaline,,2,0,2,335,20
333,00007,15,2023-08-26 12:56:51.410136,True,3274080005003,Cristaline,,1,0,1,336,20
334,00007,15,2023-08-26 12:57:01.450307,True,3564700371107,Leclerc,,1,0,1,337,20
335,00007,15,2023-08-26 12:57:20.921690,True,3274080005003,Cristaline,,2,0,2,339,20
336,00007,15,2023-08-26 12:57:26.152460,True,3274080005003,Cristaline,,1,0,1,340,20
337,00007,15,2023-08-26 12:57:39.010896,True,3274080005003,Cristaline,,0,0,0,340,20
338,00007,15,2023-08-26 12:57:44.127773,True,3274080005003,Cristaline,,2,0,2,342,20
339,00007,15,2023-08-26 12:57:59.478292,True,3068320114453,Badoit,,0,0,0,342,20
340,00007,15,2023-08-26 12:58:06.902674,True,3257971080440,Mont Roucous,,2,0,2,344,20
341,00007,16,2023-08-26 13:22:11.596589,True,3068320118420,Badoit,,1,0,1,345,20
342,00007,16,2023-08-26 13:22:38.130885,True,3068320114453,Badoit,,1,0,1,346,20
343,00007,16,2023-08-26 13:23:04.403319,True,3564700837993,O Fresh,,1,0,1,347,20
344,00007,16,2023-08-26 13:23:23.903641,True,3068320118420,Badoit,,1,0,1,348,20
345,00007,16,2023-08-26 13:23:38.469455,True,7613035833272,Perrier,,1,0,1,349,20
346,00007,16,2023-08-26 13:23:55.156618,True,3124480195340,May Tea,,1,0,1,350,20
347,00007,16,2023-08-26 13:24:09.859384,True,3068320114453,Badoit,,1,0,1,351,20
348,00007,17,2023-08-26 14:01:09.381545,True,3274080005003,Cristaline,,1,0,1,352,20
349,00007,17,2023-08-26 14:01:14.072397,True,3274080005003,Cristaline,,1,0,1,353,20
350,00007,17,2023-08-26 14:01:20.917062,True,3068320123264,La Salvetat,,1,0,1,354,20
351,00007,17,2023-08-26 14:01:29.218831,True,3274080005003,Cristaline,,1,0,1,355,20
352,00007,17,2023-08-26 14:01:34.444184,True,3274080005003,Cristaline,,1,0,1,356,20
353,00007,17,2023-08-26 14:01:38.748942,True,3068320123264,La Salvetat,,1,0,1,357,20
354,00007,17,2023-08-26 14:01:42.385011,True,3274080005003,Cristaline,,1,0,1,358,20
355,00007,17,2023-08-26 14:01:46.110317,True,3274080005003,Cristaline,,1,0,1,359,20
356,00007,17,2023-08-26 14:01:49.710939,True,3274080005003,Cristaline,,1,0,1,360,20
357,00007,18,2023-08-26 14:16:45.631092,True,3274080005003,Cristaline,,1,0,1,361,20
358,00007,18,2023-08-26 14:16:50.246417,True,3274080005003,Cristaline,,1,0,1,362,20
359,00007,18,2023-08-26 14:16:55.977832,True,3254380008430,Cristaline,,1,0,1,363,20
360,00007,18,2023-08-26 14:16:58.694688,True,3254380008430,Cristaline,,0,0,0,363,20
361,00007,18,2023-08-26 14:17:05.721167,True,3254380008430,Cristaline,,1,0,1,364,20
362,00007,18,2023-08-26 14:17:09.147359,True,3254380008430,Cristaline,,1,0,1,365,20
363,00007,18,2023-08-26 14:17:13.920959,True,3254380008430,Cristaline,,0,0,0,365,20
364,00007,18,2023-08-26 14:17:24.454449,True,3254380008430,Cristaline,,1,0,1,366,20
365,00007,18,2023-08-26 14:17:37.862091,True,3124480196361,Schweppes,,1,0,1,367,20
367,00007,18,2023-08-26 14:18:19.709415,True,3254380008430,Cristaline,,1,0,1,368,20
368,00007,18,2023-08-26 14:18:30.527446,True,54492790,Coca-Cola,,1,0,1,369,20
369,00007,18,2023-08-26 14:18:33.743014,True,3254380008430,Cristaline,,0,0,0,369,20
370,00007,18,2023-08-26 14:18:37.378068,True,3254380008430,Cristaline,,2,0,2,371,20

In [94]:
df1.iloc[360:420]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
371,00007,18,2023-08-26 14:18:41.353012,True,3254380008430,Cristaline,,1,0,1,372,20
372,00007,18,2023-08-26 14:18:46.477977,True,3254380008430,Cristaline,,1,0,1,373,20
373,00007,18,2023-08-26 14:19:00.264906,True,3254380008430,Cristaline,,1,0,1,374,20
374,00007,18,2023-08-26 14:19:05.894128,True,3274080005003,Cristaline,,1,0,1,375,20
375,00007,18,2023-08-26 14:19:22.348745,True,3274080005003,Cristaline,,2,0,2,377,20
376,00007,18,2023-08-26 14:19:31.338004,True,3274080005003,Cristaline,,1,0,1,378,20
377,00007,18,2023-08-26 14:19:40.771309,True,5449000131836,Coca Cola,,1,0,1,379,20
378,00007,18,2023-08-26 14:19:44.383335,True,5449000000439,Coca-Cola,,1,0,1,380,20
379,00007,18,2023-08-26 14:19:49.105653,True,3068320118420,Badoit,,1,0,1,381,20
380,00007,18,2023-08-26 14:19:52.160355,True,3068320118420,Badoit,,1,0,1,382,20
381,00007,18,2023-08-26 14:19:57.074397,True,3274080005003,Cristaline,,1,0,1,383,20
382,00007,18,2023-08-26 14:20:01.183961,True,3274080005003,Cristaline,,1,0,1,384,20
383,00007,18,2023-08-26 14:20:06.931315,True,3274080005003,Cristaline,,1,0,1,385,20
384,00007,18,2023-08-26 14:20:19.967727,True,3274080005003,Cristaline,,1,0,1,386,20
385,00007,18,2023-08-26 14:20:45.283399,True,3274080005003,Cristaline,,1,0,1,387,20
386,00007,18,2023-08-26 14:20:49.899877,True,3274080005003,Cristaline,,1,0,1,388,20
387,00007,18,2023-08-26 14:20:56.202219,True,3274080005003,Cristaline,,1,0,1,389,20
389,00007,19,2023-08-26 14:21:38.158676,True,3274080005003,Cristaline,,2,1,1,391,21
390,00007,20,2023-08-26 14:49:31.108291,True,3250391390700,Look,,1,0,1,392,21
391,00007,20,2023-08-26 14:49:37.622123,True,3168930170570,Lipton,,1,0,1,393,21
392,00007,20,2023-08-26 14:49:43.264125,True,3250391390700,Look,,1,0,1,394,21
393,00007,20,2023-08-26 14:49:47.900643,True,3168930170570,Lipton,,1,0,1,395,21
394,00007,20,2023-08-26 14:50:19.203174,True,3250391390700,Look,,1,0,1,396,21
395,00007,20,2023-08-26 14:50:27.519627,True,3168930170570,Lipton,,1,0,1,397,21
396,00007,20,2023-08-26 14:50:42.094807,True,3057640257773,Volvic,,0,0,0,397,21
397,00007,20,2023-08-26 14:50:46.696410,True,3168930170570,Lipton,,1,0,1,398,21
398,00007,20,2023-08-26 14:51:12.020364,True,3057640257773,Volvic,,1,0,1,399,21
399,00007,20,2023-08-26 14:51:32.379969,True,5038862134590,Innocent,,1,0,1,400,21
400,00007,20,2023-08-26 14:51:48.452842,True,3168930170570,Lipton,,1,0,1,401,21
401,00007,20,2023-08-26 14:51:54.878731,True,3250391390700,Look,,0,0,0,401,21
402,00007,20,2023-08-26 14:52:00.022300,True,3560070692453,Carrefour,,0,0,0,401,21
403,00007,20,2023-08-26 14:52:04.046134,True,3168930170570,Lipton,,1,0,1,402,21
404,00007,20,2023-08-26 14:52:22.086743,True,3168930170570,Lipton,,3,0,3,405,21
405,00007,20,2023-08-26 14:52:42.636085,True,3057640257773,Volvic,,2,0,2,407,21
406,00007,20,2023-08-26 14:53:01.681505,True,3168930170570,Lipton,,0,0,0,407,21
407,00007,20,2023-08-26 14:53:16.019195,True,3250391390700,Look,,2,0,2,409,21
408,00007,20,2023-08-26 14:53:25.183545,True,3168930170570,Lipton,,1,0,1,410,21
409,00007,20,2023-08-26 14:53:37.333461,True,3168930170570,Lipton,,0,0,0,410,21
410,00007,20,2023-08-26 14:53:40.980253,True,3168930170570,Lipton,,1,0,1,411,21
411,00007,20,2023-08-26 14:53:55.921661,True,3168930170570,Lipton,,1,0,1,412,21
412,00007,20,2023-08-26 14:53:59.202504,True,3168930170570,Lipton,,1,0,1,413,21
413,00007,20,2023-08-26 14:54:17.996529,True,3168930170570,Lipton,,1,0,1,414,21
414,00007,20,2023-08-26 14:54:45.112919,True,3057640257773,Volvic,,2,0,2,416,21
415,00007,20,2023-08-26 14:54:57.797238,True,3168930170570,Lipton,,0,0,0,416,21
416,00007,20,2023-08-26 14:55:22.373777,True,3245411441920,Carrefour,,1,0,1,417,21
417,00007,20,2023-08-26 14:55:26.275356,True,3245411441920,Carrefour,,0,0,0,417,21
418,00007,20,2023-08-26 14:55:37.121741,True,3168930170570,Lipton,,1,0,1,418,21
419,00007,20,2023-08-26 14:55:50.363025,True,3168930170570,Lipton,,2,0,2,420,21
420,00007,20,2023-08-26 14:55:55.075223,True,3168930170570,Lipton,,0,0,0,420,21
421,00007,20,2023-08-26 14:56:14.591887,True,3057640257773,Volvic,,2,0,2,422,21
422,00007,20,2023-08-26 14:56:18.559690,True,3168930170570,Lipton,,0,0,0,422,21
423,00007,21,2023-08-26 15:11:20.696698,True,3274080005003,Cristaline,,3,0,3,425,21
424,00007,21,2023-08-26 15:11:42.892590,True,3274080005003,Cristaline,,1,0,1,426,21
425,00007,21,2023-08-26 15:11:47.117058,True,3274080005003,Cristaline,,1,0,1,427,21
426,00007,21,2023-08-26 15:11:51.475046,True,3274080005003,Cristaline,,1,0,1,428,21
427,00007,21,2023-08-26 15:11:55.620218,True,3274080005003,Cristaline,,1,0,1,429,21
428,00007,21,2023-08-26 15:11:59.299687,True,3274080005003,Cristaline,,1,0,1,430,21
429,00007,21,2023-08-26 15:12:02.521765,True,3274080005003,Cristaline,,1,0,1,431,21
430,00007,21,2023-08-26 15:12:06.343656,True,3274080005003,Cristaline,,1,0,1,432,21
431,00007,21,2023-08-26 15:12:10.478569,True,3274080005003,Cristaline,,1,0,1,433,21

In [95]:
df1.iloc[420:480]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
432,00007,21,2023-08-26 15:12:14.364423,True,3274080005003,Cristaline,,1,0,1,434,21
433,00007,21,2023-08-26 15:12:24.800659,True,3274080005003,Cristaline,,0,0,0,434,21
434,00007,21,2023-08-26 15:12:30.936165,True,3274080005003,Cristaline,,1,0,1,435,21
435,00007,21,2023-08-26 15:12:40.791431,True,3274080005003,Cristaline,,1,0,1,436,21
436,00007,21,2023-08-26 15:12:44.889646,True,3274080005003,Cristaline,,1,0,1,437,21
437,00007,21,2023-08-26 15:12:48.606015,True,3274080005003,Cristaline,,1,0,1,438,21
438,00007,21,2023-08-26 15:13:08.974214,True,3249760000654,Orangina,,1,0,1,439,21
439,00007,21,2023-08-26 15:13:16.120534,True,3274080005003,Cristaline,,1,0,1,440,21
440,00007,21,2023-08-26 15:13:29.429818,True,3274080005003,Cristaline,,1,0,1,441,21
441,00007,21,2023-08-26 15:13:34.077220,True,3274080005003,Cristaline,,0,0,0,441,21
442,00007,21,2023-08-26 15:13:54.931756,True,3274080005003,Cristaline,,2,0,2,443,21
443,00007,21,2023-08-26 15:13:58.746110,True,3274080005003,Cristaline,,0,0,0,443,21
444,00007,21,2023-08-26 15:14:03.984685,True,3274080005003,Cristaline,,0,0,0,443,21
445,00007,21,2023-08-26 15:14:09.509885,True,3274080005003,Cristaline,,2,0,2,445,21
446,00007,21,2023-08-26 15:14:43.603519,True,3274080005003,Cristaline,,2,0,2,447,21
447,00007,21,2023-08-26 15:14:47.420786,True,3274080005003,Cristaline,,1,0,1,448,21
448,00007,21,2023-08-26 15:14:50.359420,True,3274080005003,Cristaline,,1,0,1,449,21
449,00007,21,2023-08-26 15:14:58.274239,True,3274080005003,Cristaline,,2,0,2,451,21
450,00007,21,2023-08-26 15:15:02.215084,True,3274080005003,Cristaline,,1,0,1,452,21
451,00007,21,2023-08-26 15:15:07.144479,True,3274080005003,Cristaline,,1,0,1,453,21
452,00007,21,2023-08-26 15:15:37.031082,True,3274080005003,Cristaline,,1,0,1,454,21
453,00007,21,2023-08-26 15:15:43.745217,True,3274080005003,Cristaline,,1,0,1,455,21
454,00007,21,2023-08-26 15:15:48.760842,True,3502110009036,7Up,,1,0,1,456,21
455,00007,21,2023-08-26 15:15:54.512419,True,7613035833272,Perrier,,1,0,1,457,21
456,00007,21,2023-08-26 15:16:07.019235,True,8002270014901,San Pellegrino,,1,0,1,458,21
457,00007,21,2023-08-26 15:16:12.317479,True,3274080005003,Cristaline,,1,0,1,459,21
458,00007,21,2023-08-26 15:16:18.899281,True,8410261658100,Don Simon,,1,0,1,460,21
459,00007,21,2023-08-26 15:16:23.419179,True,3274080005003,Cristaline,,1,0,1,461,21
460,00007,21,2023-08-26 15:16:30.139500,True,8002270014901,San Pellegrino,,1,0,1,462,21
461,00007,21,2023-08-26 15:16:50.520836,True,7613035833272,Perrier,,1,0,1,463,21
462,00007,21,2023-08-26 15:17:01.297573,True,5449000232250,Fuzetea,,1,0,1,464,21
463,00007,21,2023-08-26 15:17:08.755081,True,3274080005003,Cristaline,,1,0,1,465,21
464,00007,21,2023-08-26 15:17:28.437387,True,3274080005003,Cristaline,,0,0,0,465,21
465,00007,21,2023-08-26 15:17:32.742391,True,3274080005003,Cristaline,,0,0,0,465,21
466,00007,21,2023-08-26 15:17:41.331027,True,8058450672409,Eva,,2,0,2,467,21
467,00007,21,2023-08-26 15:17:54.596567,True,3250392487874,Paquito,,2,0,2,469,21
468,00007,21,2023-08-26 15:17:59.898707,True,7613036249928,Vittel,,1,0,1,470,21
470,00007,22,2023-08-26 15:26:31.829176,True,7613035833272,Perrier,,3,1,2,473,22
471,00007,22,2023-08-26 15:26:38.941321,True,3274080005003,Cristaline,,1,0,1,474,22
472,00007,22,2023-08-26 15:26:54.117728,True,3274080005003,Cristaline,,1,0,1,475,22
473,00007,22,2023-08-26 15:26:57.422677,True,3274080005003,Cristaline,,1,0,1,476,22
474,00007,22,2023-08-26 15:27:08.105714,True,5902860413783,Schweppes,,1,0,1,477,22
475,00007,22,2023-08-26 15:27:12.196477,True,3274080005003,Cristaline,,1,0,1,478,22
476,00007,22,2023-08-26 15:27:16.923173,True,3274080005003,Cristaline,,1,0,1,479,22
477,00007,22,2023-08-26 15:27:20.142071,True,3274080005003,Cristaline,,1,0,1,480,22
478,00007,22,2023-08-26 15:27:38.924959,True,3274080005003,Cristaline,,0,0,0,480,22
479,00007,22,2023-08-26 15:27:44.041538,True,3274080005003,Cristaline,,1,0,1,481,22
480,00007,22,2023-08-26 15:27:57.453930,True,3274080005003,Cristaline,,1,0,1,482,22
481,00007,22,2023-08-26 15:28:02.098624,True,3274080005003,Cristaline,,0,0,0,482,22
482,00007,22,2023-08-26 15:28:06.450073,True,3274080005003,Cristaline,,1,0,1,483,22
483,00007,22,2023-08-26 15:28:11.064079,True,3274080005003,Cristaline,,1,0,1,484,22
493,00007,23,2023-08-26 15:36:53.150957,True,3274080005003,Cristaline,,15,5,10,499,27
494,00007,23,2023-08-26 15:36:59.161850,True,3274080005003,Cristaline,,1,0,1,500,27
495,00007,23,2023-08-26 15:37:04.094275,True,3274080005003,Cristaline,,1,0,1,501,27
496,00007,23,2023-08-26 15:37:07.805161,True,3274080005003,Cristaline,,1,0,1,502,27
497,00007,23,2023-08-26 15:37:13.588511,True,3274080005003,Cristaline,,1,0,1,503,27
498,00007,23,2023-08-26 15:37:33.257810,True,3274080005003,Cristaline,,0,0,0,503,27
499,00007,23,2023-08-26 15:37:45.484082,True,3068320123264,La Salvetat,,2,0,2,505,27
500,00007,23,2023-08-26 15:37:49.330379,True,3274080005003,Cristaline,,1,0,1,506,27
501,00007,23,2023-08-26 15:37:54.554883,True,3068320123264,La Salvetat,,1,0,1,507,27

##### les traces où log IA correspond pas à trace de packing (dans les sessions de mauvaise concordance)

In [24]:
grouped_df1 = df1.groupby('session_id').agg({'isAccept': 'sum','isAcceptIA': 'sum'})
not_equal_sessions = grouped_df1[grouped_df1['isAccept'] != grouped_df1['isAcceptIA']].index
not_equal_sessions

Int64Index([5, 6, 8, 9, 10, 11, 12, 14, 18, 20, 21, 22, 23, 24, 28, 29, 31, 32,
            33, 34],
           dtype='int64', name='session_id')

In [25]:
err = df1[df1['session_id'].isin(not_equal_sessions)][(df1['isAcceptIA'] != 1)]
err

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
78,00007,5,2023-08-26 08:45:13.312112,True,3256227459078,U,,0,0,0,78,2
79,00007,5,2023-08-26 08:45:22.968163,True,3660992012589,Prix Mini,,2,0,2,80,2
87,00007,5,2023-08-26 08:46:36.803825,True,3254380008430,Cristaline,,0,0,0,87,2
91,00007,6,2023-08-26 08:51:48.107601,True,8024884500403,Courmayeur,,2,0,2,92,2
107,00007,6,2023-08-26 08:54:05.546880,True,3274080005003,Cristaline,,0,0,0,108,3
...,...,...,...,...,...,...,...,...,...,...,...,...
770,00007,34,2023-08-26 18:54:24.664080,True,3256223510100,U,,0,0,0,789,49
772,00007,34,2023-08-26 18:54:41.735932,True,3256223510100,U,,2,0,2,792,49
775,00007,34,2023-08-26 18:54:55.397653,True,3068320120256,Evian,,2,0,2,796,49
779,00007,34,2023-08-26 18:55:28.480975,True,3268840001008,Cristaline,,1,1,0,799,50
780,00007,34,2023-08-26 18:55:34.507242,True,3256223510100,U,,2,0,2,801,50

In [26]:
err['brand'].describe()

count            128
unique            29
top       Cristaline
freq              69
Name: brand, dtype: object

In [27]:
err['brand'].value_counts()

Cristaline                    69
Lipton                         7
U                              6
Volvic                         5
Courmayeur                     4
Carrefour                      3
Hepar                          3
Coca-Cola                      3
Saint Amand                    3
Joker                          3
Look                           2
San Pellegrino                 2
Fanta                          2
Sunny Delight                  1
St Yorre                       1
Minute Maid                    1
Laqueuille - Marque Repère     1
Tropicana                      1
S. Pellegrino                  1
Oasis                          1
Perrier                        1
La Salvetat                    1
Badoit                         1
Paquito                        1
Eva                            1
Prix Mini                      1
Orangina                       1
May Tea                        1
Evian                          1
Name: brand, dtype: int64

In [28]:
len(err[err['brand']=='Cristaline'])/len(err)

0.5390625

In [29]:
len(data_packing[data_packing['brand']=='Cristaline'])/len(data_packing)

0.5213849287169042

In [30]:
len(err[err['brand']=='Lipton'])/len(err)

0.0546875

In [31]:
len(data_packing[data_packing['brand']=='Lipton'])/len(data_packing)

0.024439918533604887

In [32]:
df1[(df1['isAcceptIA'] != 1)]

,machineSerialNumber,session_id,actionTime,isAccept,barCode,brand,reason,nb_in,nb_out,isAcceptIA,count_in,count_out
packing_id,,,,,,,,,,,,
25,00007,1,2023-08-25 19:36:34.238202,True,7613036249928,Vittel,,0,0,0,25,1
32,00007,1,2023-08-25 19:37:54.031789,True,7613036249928,Vittel,,2,0,2,33,1
78,00007,5,2023-08-26 08:45:13.312112,True,3256227459078,U,,0,0,0,78,2
79,00007,5,2023-08-26 08:45:22.968163,True,3660992012589,Prix Mini,,2,0,2,80,2
87,00007,5,2023-08-26 08:46:36.803825,True,3254380008430,Cristaline,,0,0,0,87,2
...,...,...,...,...,...,...,...,...,...,...,...,...
885,00007,38,2023-08-27 09:34:23.339167,True,3274080005003,Cristaline,,2,0,2,906,50
886,00007,38,2023-08-27 09:34:33.687175,True,3274080005003,Cristaline,,0,0,0,906,50
887,00007,38,2023-08-27 09:34:41.292841,True,3274080005003,Cristaline,,2,0,2,908,50
945,00007,38,2023-08-27 09:45:24.582961,True,3256226385682,U,,0,0,0,965,50
952,00007,38,2023-08-27 09:46:22.089779,True,3274080005003,Cristaline,,2,0,2,973,50

#### Merge according to SessionId